[2017-09-05 13:13] kingthorin opened #1 "License Header"
I assume our standard license blurb should be added to all java files?
https://github.com/psiinon/zap-hud/blob/master/src/org/zaproxy/zap/extension/hud/HudAPI.java

What about all the JS files?

[2017-09-05 13:44] psiinon opened #2 "Active scan stop does not work"
It appear to work, but the scan keeps going in ZAP.

[2017-09-05 13:45] psiinon opened #3 "Implement Break functionality"
Will assign to David once he's signed up ;)

[2017-09-05 13:45] psiinon opened #4 "Implement Attack Mode"

[2017-09-05 13:47] psiinon opened #5 "Split High/Medium/Low alerts into separate controls"
Knowing that there a (say) 10 alerts on a page/site means nothing.
I dont care about 10 low alerts, but one high one is important.
The controls for Page/Site controls should be split out as per the POC, and users should be able to choose any combination to appear on the HUD

[2017-09-05 13:48] psiinon opened #6 "Implement Growl alerts"
As per the POC - should only show the first instance of any alert type

[2017-09-05 13:48] psiinon opened #7 "Highlight error fields"
As per the POC

[2017-09-05 13:49] psiinon opened #8 "Upgrade to latest JQuery"
The version used is no longer supported - the latest one is 3!
https://jquery.com/upgrade-guide/3.0/

[2017-09-06 06:59] psiinon opened #9 "Page alerts actually show all alerts"
The Page alerts popup shows all of the alerts for the site rather than just those for the relevant page.

[2017-09-07 08:04] psiinon opened #10 "Scope is ignored"
It should be obeyed by the Spider and Active Scanner

[2017-09-07 08:07] psiinon opened #11 "Add default controls"
We should have a set of default controls to give newcomers something to start with, otherwise they have to add them before they can do anything.

[2017-09-07 08:10] psiinon opened #12 "Persist client configs in ZAP"
The Browser Launch feature (https://zaproxy.blogspot.fr/2017/08/zap-browser-launch.html) is a really useful and easy way to launch browsers that are configured to proxy through ZAP.
Unfortunately they start with new blank browser profiles, which means that any HUD configs will be lost :(
We should store the HUD configs in ZAP and default to these when launching a browser that doesnt have any HUD c

[2017-09-07 12:43] psiinon opened #15 "Plug-in functionality"
Allow other add-ons to add HUD componenets without having to change the HUD code.

[2017-09-07 12:47] psiinon opened #16 "Use API nonces for all API calls"
Otherwise it wont work unless the API security is turned off ;)

[2017-09-07 14:45] psiinon opened #17 "Get the HUD working with Chrome / JxBrowser"
Not high priority just yet, but good to get working sooner rather than later

[2017-09-07 14:50] psiinon opened #18 "Documentation"
Architecture, interactions, all the things :)

[2017-09-07 14:51] psiinon opened #19 "Add minimize options"
As per the PoC, so that the HUD controls can be changed to take up as little browser real estate as possible

[2017-09-07 14:52] psiinon opened #20 "Session Handling"
Start with just New Session (plus save options) then Load Session and maybe Snapshot

[2017-09-07 14:52] psiinon opened #21 "Interactive help / tutorial"
eg using something like http://introjs.com/ https://github.com/amireh/guide.js/tree/master or http://github.hubspot.com/shepherd/docs/welcome/

[2017-09-08 07:06] psiinon opened #23 "I18N"
The ZAP Desktop is internationalized, and we should aim for all other ZAP components to be as well, inc the HUD.
Some possible options:

- Simple ZAP side home grown templating
- https://github.com/l20n/l20n.js
- https://www.i18next.com/
- https://github.com/fnando/i18n-js

All found via quick search, I've not investigated any yet ;)

[2017-09-08 07:11] psiinon opened #24 "Agree (JavaScript) style guide"
Maybe style guides for HTML and CSS as well?
I dont mind which, are any particularly popular / considered best practice?

[2017-09-08 07:13] psiinon opened #25 "Selenium tests"
Might be 'interesting' to set up as we'll need ZAP and a test app running, but once set up would be very useful

[2017-09-08 07:20] psiinon opened #26 "Lint all JavaScript"
Ideally should run on all PRs

- http://www.javascriptlint.com/
- https://github.com/reid/node-jslint

Not investigated yet...

[2017-09-08 09:36] psiinon opened #27 "Attack mode - add rescan option"
Add option to rescan site when turning attack mode on, as per the desktop.
Set the appropriate choice via the API so that the desktop doesnt prompt the user (if used).

[2017-09-08 15:09] #4 closed, assigned to psiinon

[2017-09-08 15:12] #2 closed, assigned to psiinon

[2017-09-08 15:26] dscrobonia opened #28 "Synchronize state between HUD and ZAP"
The HUD manages its own state after sending API requests to ZAP. It should change its state after ZAP response and informs the HUD of what state is actually in. Maybe for performance reasons the HUD could change immediately, assuming the state, and then when the API response comes back change again if it was wrong, i.e., there was an error.

[2017-09-09 08:06] psiinon opened #29 "Use websockets instead of polling"
OK, so websockets would be the ideal solution, but until we support that in ZAP we could use a [persistant connection](https://en.wikipedia.org/wiki/HTTP_persistent_connection) instead of polling.
So we'd have one (or more) API endpoints that just stream events to the browser and only close if the browser closes the connection.
These should be much more efficient (and react faster) than polling.
I

[2017-09-11 14:57] g-k opened #30 "Use the anonymous content API to prevent sites detecting if the HUD is in use?"
Find out if sites can detect HUD usage from injected HUD UI and scripts.

If a site can detect that the ZAP HUD is in use, they could change how they behave, try to make requests to the ZAP API, or overlay HUD UI elements for impersonation attacks.

One solution for Firefox (Fx) is to use a web extension with the anonymous content API: http://docs.firefox-dev.tools/tools/highlighters.html#the-anon

[2017-09-13 07:08] #11 closed, assigned to dscrobonia

[2017-09-13 07:13] psiinon opened #34 "Allow user to reorder controls"
The HUD always orders the controls / tools in the same way.
Users should be able to specify which order they want them in.
Drag and drop would be ideal of course, but we can have something simpler to implement to start with

[2017-09-13 07:19] psiinon opened #35 "Establish naming conventions"
We should agree standard naming conventions.
For example, the 'UI controls' - what should they be called?
I tend to call them 'controls', but they are 'tools' in the JS code.
They could be widgets, UI elements, buttons or ??
I'd prefer 'controls' or 'widgets' - 'tools' seem to heavy weight.
'buttons' might be tool limiting - we could have other sorts of controls in the future, like dials or progre

[2017-09-13 07:30] psiinon opened #36 "Change core to issue break events"
Once https://github.com/zaproxy/zaproxy/pull/3878 has been merged.
This will add a dependency to the dev version of ZAP, meaning we'll have to release 2.7.0 before most people can use the HUD.
Or we could keep a 'legacy' option if we detect they are using ZAP 2.6.0.
@dscrobonia - which version of ZAP are you using? Would it be a big pain if you had to use the dev version?

[2017-09-13 07:59] psiinon opened #38 "Save the HUD on/off option in the ZAP configs"
Remember if the HUD is turned on, which will also allow a new ZAP instance to be started with the HUD turned on (eg for daemon mode;)

[2017-09-13 09:14] psiinon opened #39 "Ensure components can be run outside of the HUD UI"
We should ensure that HUD components (like the History / Timeline) can be run in 'non HUD' tabs.
The user should be able to open a new tab and display things like the history and sites tree.
In time the user should be able to create whole new ZAP UI in the browser which should work with (but independent from) the HUD.
I can imagine having the HUD in one browser window and the history in another on

[2017-09-13 14:42] #3 closed, assigned to dscrobonia

[2017-09-13 14:47] dscrobonia opened #40 "break doesn't work when no dialog option selected"
When break shows the intercepted message, if you click outside of the pop up in the grayed out area, it will close the pop up and leave ZAP waiting for a response. Now you can still click break button which calls the continue api endpoint, allowing ZAP to continue and everything works fine. But I'm not sure we should have break allow somebody to ignore an intercepted message. They should have to r

[2017-09-13 15:52] psiinon opened #41 "Agree default widgets/controls/tools"
We want the HUD to be fully configurable, but we should also provide sensible defaults that give users a good initial layout + overview of what can be done.
My initial suggestion:

Left panel - more specific things, or things that people will want to do more often or earlier on (in order):

- Break
- Attack mode
- High page alerts
- Medium page alerts
- Low page alerts

Right panel - less specific

[2017-09-14 08:59] psiinon opened #42 "Automatically manipulate CSP to allow HUD to work"
The HUD extension should detect CSP and either diable it, or ideally just manipulate it so that the HUD will be always work.
This should be done automatically when the HUD is enabled.
Even if we can manipulate the CSP maybe we should have an option to just strip it out in case the manipulation doesnt work or breaks other things?

[2017-09-15 07:07] psiinon opened #43 "Ensure no API calls made from target domain"
The HUD is currently broken with 2.7.0 due to the default blocking of access to the API to all but local domains.
To fix this I'm planning on changing the HUD add-on to listen on another (random) port on which it will serve all of the HUD content - scripts, CSS, images etc etc.
The port will be random to make it harder for sites to detect that ZAP is in use (they'll still be able to detect the HUD

[2017-09-15 07:29] psiinon opened #44 "Option to only inject HUD on sites in scope"
This will reduce the load on ZAP and also reduce our attack serface area.
But it will mean a site has to be added to the scope before the HUD can be used.

[2017-09-15 07:36] psiinon opened #45 "Document threat model and mitigations"
My plan is to do this on the wiki.
The whole repo (including the wiki) will be made public when we release the HUD, but I think we should be as up front about the threats (and mitigations) as possible, so I think publishing these is a good plan.
Any objections?

[2017-09-15 08:17] psiinon opened #46 "Investigate not blocking js/css/image files when break on"
See if we can change ZAP to allow files that match certain (configurable) regexes to be serverd even when a break point has been hit.
This may help the case where the HUD break UI cant get rendered because the browser has already made too many connections that are wating on the break point.

[2017-09-15 08:20] psiinon opened #47 "injectionHtml.html has inline javascript"
This will be blocked if the site has a reasonable CSP.
We can change the CSP inline, but thats more manipulation of the target than I really wanted.
Ideally we should never have inline javascript, anywhere.

[2017-09-18 18:03] g-k opened #48 "Add jxBrowser console logging?"
I was looking at adding a [console listener](https://www.teamdev.com/downloads/jxbrowser/javadoc/com/teamdev/jxbrowser/chromium/Browser.html#addConsoleListener-com.teamdev.jxbrowser.chromium.events.ConsoleListener-) for debugging #17.

Should this log to the zap log or a separate log (if so what path?) or another pane or something else?

Something like the following without executeJavaScript:

[co

[2017-09-20 15:15] #48 closed, assigned to nobody

[2017-09-20 15:59] g-k opened #49 "serviceworker will not work on http sites on Chrome"
The error is:

[code]

https://github.com/psiinon/zap-hud/issues/17#issuecomment-329535344

where the shortened link resolves to: https://www.chromium.org/Home/chromium-security/prefer-secure-origins-for-powerful-new-features

[2017-09-21 01:16] dscrobonia opened #52 "Page & Site Alert Shared Code"
There is some shared functionality between them that needs to get abstracted out.

I'm thinking of just making a separate js file called `alerts.js` that would house shared functions. And then have those available via a module called `Alerts`. So that from within the page and site alert tools they could call somethign like
[code]

Please let me know if there are any better ideas.

[2017-10-02 10:40] #10 closed, assigned to dscrobonia

[2017-12-12 06:57] dscrobonia opened #54 "Close previous dialog when openning a new one"
If you click to see an alerts details from an alertify popup while alert details are already show, the main display will crash. need to add state to the main display and close a dialog, before openning another

[2017-12-13 19:49] #6 closed, assigned to dscrobonia

[2017-12-18 13:54] psiinon opened #56 "Reset HUD option"
Add an option to allow the user to reset the HUD files.
This would delete all of the files under the HUD Base Directory and then extract them all again from the .zap file

[2017-12-18 17:01] psiinon opened #58 "Add add-on help"
If we have in browser help then this might not need to be too extensive

[2017-12-20 07:39] dscrobonia opened #63 "Weird startup behavior for service worker"
I'm not sure if it was the switch to Firefox Quantum, if new service worker standards came out, or I messed something up - but the service worker isn't restarting as clean as it used to. After "unregistering" the service worker from the `about:serviceworkers` panel it gets into a weird state and I have to restart firefox to get a clean start.

I should probably review the setup for the service wor

[2017-12-20 07:58] dscrobonia opened #64 "Break Improvement"
Add `Drop` button to the list of options, fix #40, show whether message is request or reponse in title bar with text and image.

[2017-12-20 08:04] dscrobonia opened #65 "Repair Timeline"
@psiinon you shut down the timeline after it kept crashing on you correct. Where did we land on wanting to change to push events, polling, waiting for sockets?

[2017-12-20 08:19] dscrobonia opened #66 "Growler max alerts not working"
I thought I had configured the growler alerts to display a max number of alerts at once, but if more were queued up behind that max number that they would be displayed afterwards. It currently only shows the max number of configured alerts and the others aren't displayed.

Expected Behaviour:
- the growler max alerts is set to 5
- 9 new alerts are discovered
- 5 are shown first
- then after they t

[2018-01-11 11:06] #16 closed, assigned to psiinon

[2018-01-11 14:06] psiinon opened #70 "Injection fails on some bbc.co.uk pages"
The HUD works on https://www.bbc.co.uk/ but fails on some of the new links as the script is injected into a comment.
eg on http://www.bbc.co.uk/news/uk-politics-42649214 :
[code]
Note that it looks like the bbc can serve up different pages to different counties, so the above link might not work for everone (or anyone outside of the uk)

[2018-01-11 14:51] #52 closed, assigned to dscrobonia

[2018-01-11 16:33] thc202 opened #71 "Dialogues not properly closed with escape key"
The HUD dialogues (e.g. alert details) are closed with the escape key but the grey/background layer is not removed.

[2018-01-25 09:19] #43 closed, assigned to psiinon

[2018-01-25 10:27] #47 closed, assigned to nobody

[2018-01-25 17:47] psiinon opened #72 "ZAP API over WebSockets"
PoC working, but need to finalise the API and tidy up.
Then try to actually use with the HUD, eg for the break functionality

[2018-02-05 04:02] dscrobonia opened #74 "Convert all Dialogs to Vue"
We are looking at using a more modern, lightweight front end solution to help keep the HUD looking and working well. To test Vue.js we will start by converting the pop up dialogs to Vue.

This will replace #8.

[2018-02-12 11:25] #5 closed, assigned to dscrobonia

[2018-02-22 04:18] dscrobonia opened #75 "core/view/alert/ API endpoint returns malformed json"
When hitting the /core/view/alert/ API endpoint for alerts for the `Content Security Policy (CSP) Header Not Set` and `Base64 Disclosure` types the response is malformed json. The json response doesn't look complete and the HUD can't process them causing an error.

[2018-02-22 15:15] psiinon opened #78 "Change HUD so that we no longer have to allow unsafe-inline styles"
Change the CSP to forbid them and then fix the problems it reports ;)

[2018-02-22 15:16] psiinon opened #79 "Dont send websocket events to closed channels"
Actually a core/websockets issues, but raising here as we dont want to make this functionality obvious yet.

[2018-02-22 15:17] #72 closed, assigned to psiinon

[2018-02-22 16:20] psiinon opened #80 "Support external script editor"

[2018-03-01 15:31] #8 closed, assigned to dscrobonia

[2018-03-01 15:31] #74 closed, assigned to dscrobonia

[2018-03-01 16:07] dscrobonia opened #81 "Allow Multiple Modals in Display"
Instead of only allowing one modal to be shown at a time, add support for allowing multiple overlapping modals to be shown. The primary use case being when showing a list of alerts, being able to open up the details modal of multiple alerts without having to continually re-open the alerts list.

[2018-03-01 16:09] dscrobonia opened #82 "Finish Vue-ifying the HUD"
Change all UI elements to Vue + Spectre. This should just leave the buttons and *maybe* the growler notifications if possible.

[2018-03-01 17:33] dscrobonia opened #83 "Create Development Mode in HUD"
Creating an option that will change settings in the HUD to allow easier deving in the HUD. Things to look at are:

- turning off caching in the service worker
- removing cache headers from ZAP
- #80 will help
- looking into service worker life cycle for more consistent updating/restarting of service worker.

[2018-03-03 17:56] dscrobonia opened #84 "Vue + Caching Question"
Question for everybody:

I was looking to finish converting all of the HUD UI elements to being powered by Vue, but the only two elements left are the panel buttons and the [management button](https://github.com/psiinon/zap-hud/blob/master/src/org/zaproxy/zap/extension/hud/files/hud/management.html). In both cases it would be very minimal use of the Vue library, as opposed to the implementation fo

[2018-03-05 12:08] psiinon opened #85 "Vue - unsafe eval?"
The HUD isnt working for me any more (Firefox 58.0.2) :(
I'm getting this error in the console: Content Security Policy: The page’s settings blocked the loading of a resource at self (“script-src https://zap”). Source: call to eval() or related function blocked by CSP.
And it links to this section of vue.js:
[code]
Is anyone else seeing this?
We _really_ dont want to have to enable unsafe-eval :((

[2018-03-08 13:03] psiinon opened #88 "Move tool specific code out of common functions"
For example display.js has alert specific code in it. This should all be moved into the relevant tools.

[2018-03-08 13:13] psiinon opened #89 "Phase 1 feature tracker"
The features we really want before we can start asking people to beta test it:

- [x] Show alerts (using events)
- [x] Spider (using events)
- [x] Active scan (using events)
- [x] Show / hide (client side)
- [x] Highlight alerts on target domain (client side)
- [x] Break (using events)
- [x] Show history
- [ ] Manage sessions
- [ ] Manage contexts
- [ ] Ajax Spider

Nice to haves

- [ ] Advanced o

[2018-03-08 14:52] psiinon opened #90 "Make HUD more resilient to tool bugs"
If you make one typo in a tool js file (my favourite seems to be missing off a closing quote;) then none of the tools are shown and there are no useful errors shown in the script console.
In the worst case just the tool thats failed should be missing, all of the other ones should carry on working.

[2018-03-14 09:33] psiinon opened #92 "Allow tools to be run without adding them to the panels"
Currently if you want to run a tool (like the spider or active scanner) you must add it to one of the panels.
As we get more tools this will become more painful to use.
Eg for a tool that someone doesnt want to use regularly, ad doesnt want to see cluttering up the UI, they will need to:

1. Add the tool to a panel
1. Run the tool
1. Remove the tool from the panel

Instead we should provide a cont

[2018-03-15 06:47] dscrobonia opened #93 "Reset Configurations to Default is Bad"
I think this feature hasn't aged well. Needs to be rewritten to be accurate.

[2018-03-15 10:36] #90 closed, assigned to nobody

[2018-03-15 10:55] #80 closed, assigned to psiinon

[2018-03-15 22:58] #36 closed, assigned to psiinon

[2018-03-16 09:07] #79 closed, assigned to psiinon

[2018-03-20 17:55] #38 closed, assigned to psiinon

[2018-03-20 17:55] #44 closed, assigned to psiinon

[2018-03-26 11:20] #93 closed, assigned to nobody

[2018-03-26 11:21] #82 closed, assigned to dscrobonia

[2018-03-26 17:39] psiinon opened #101 "Ensure ZAP pscans the untampered responses"
I've just seen an alert for PII data - part of the number in the line:
`<body><script src="http://localhost:8080/zapCallBackUrl/-5677365659548306591?zapfile=inject.js"></script>`
matched a Diners Club credit card format :D

[2018-03-27 08:30] #101 closed, assigned to thc202

[2018-03-27 08:34] #17 closed, assigned to g-k

[2018-03-27 08:41] psiinon opened #103 "Local / session storage tools"
Add tools which shows when local storage is written to.
These could use [Storage Events](https://developer.mozilla.org/en-US/docs/Web/API/StorageEvent) to find out when anything changes.
Not sure what the 'summary' info should be, maybe a count of the total number of bytes that have changed, or a count of the number of changes?
It should be something that indicates something has changed.
Clicking

[2018-04-04 10:36] psiinon opened #104 "Local storage access not thread safe"
The tools load data from local storage, change it and then write it back.
Unfortunately the way we're doing it isnt thread safe. This is more apparent with the alert event changes as the counts are often wrong.
To check this I put logging around my commonAlerts event handler for AlertEventPublisher.
This logs the start and end of the function, and uses a global int to tie the 2 events together.
In

[2018-05-14 13:13] psiinon opened #107 "Tools onPanelLoad method not called"
The tools onPanelLoad method isnt being called from anywhere, which is a shame because we need to call it for the page alerts.
When you load a new page (one that you havnt been to before) we should count the cached alerts, but theres nowhere to do that apart from this method which isnt being called.

[2018-05-14 13:31] #9 closed, assigned to dscrobonia

[2018-05-14 17:00] psiinon opened #108 "Package the tools"
Package the tools so that they are self contained and the infrastructure doesnt need to know about them.
Ideally ZAP add-ons should be able to dynamically add HUD tools.

- [x] Inject HUD side tools into the serviceworker #111
- [ ] Split out the HUD side tools UI elements and inject them
- [ ] Package the target side tools and inject them into inject.js

[2018-05-14 17:22] psiinon opened #109 "Show / Hide tool"
Tool for showing hidden fields and enabling disabled ones.
Similar to the ZAP tool but in this case it should run client side on the target domain :)

[2018-05-14 17:41] #15 closed, assigned to nobody

[2018-05-16 13:19] #109 closed, assigned to psiinon

[2018-05-16 13:39] #29 closed, assigned to psiinon

[2018-05-22 17:31] thc202 opened #114 "Automatically hide the panels"
It would be great it the panels were hidden automatically (and leave just one part poking, similar to #19?) when no longer used (i.e. hovering with the mouse). Sometimes it's impossible to interact with some HTML elements that happen to be under the panels without workarounds, e.g. scroll up/down to move the panels out of the way :)

[2018-05-22 21:53] #75 closed, assigned to psiinon

[2018-05-29 10:31] psiinon opened #119 "Support multiple browser tabs"
Open 2 browser tabs with the HUD running.
Open any of the alert dialogs in the first tab and the dialogs open in the second :/

Proposal - we associate a unique id with each tab (maybe one already exists in the [tabs API](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs)?) and then include this in any post messages that are tab specific.

As part of this we'll need to remove any

[2018-05-29 10:33] #107 closed, assigned to dscrobonia

[2018-05-29 10:34] psiinon opened #120 "Fix alert counts"
Page alert counts are not set to zero for new pages (not possible until #112).
Also both site and page alert counts are sometimes incorrect - another timing issue?

[2018-05-30 12:27] psiinon opened #122 "Apply Strict Mode to all JS files"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode

Might be a bit painful to retrofit now but the sooner we do it the better, I think :)

[2018-05-31 04:53] dscrobonia opened #124 "Management Background not Transparent"
management panel has a background color. need to tighten up the iframe size and remove the background color.

[2018-05-31 07:23] dscrobonia opened #125 "Fix Growler Alerts Size/Queue"
growler alerts iframe doesn't scale appropriately with each growler message. Need to figure out how to make the iframe scale with the size of new growler messages.

[2018-05-31 07:34] dscrobonia opened #127 "HTTP Support (currently can't run on plain http sites)"
Provide support to run the HUD on targets that don't support TLS.

Problem:
The issue arrises from service worker's only able to run from "secure origins". While the service worker is launched from an iframe using TLS, if the iframe's parent window does NOT support TLS then the iframe is not a secure origin. This means the HUD won't work on plain HTTP sites.

Solution:
If the target can't be upgra

[2018-05-31 17:42] thc202 opened #129 "Scanner tools shown as started even if not"
The scanner tools (e.g. spider, active scanner) are shown as started (e.g. `0%` progress or with coloured icon) even if they were not started successfully (because of an error). This can be reproduced easily by setting the mode to Safe and then attempt to start a scan.

[2018-06-01 00:15] thc202 opened #130 "Use WebSocket channel for API requests"
The log events are currently sent to ZAP with HTTP, which means more resources are used than if sent through the WebSocket channel. Is there any reason not to use that instead?

Sample HTTP request:
[code]

[2018-06-03 16:55] #66 closed, assigned to nobody

[2018-06-03 16:55] #125 closed, assigned to nobody

[2018-06-05 11:53] #34 closed, assigned to dscrobonia

[2018-06-06 07:51] psiinon opened #131 "Handle dropped HTML pages cleanly"
See #118 for background

[2018-06-12 09:10] #7 closed, assigned to psiinon

[2018-06-14 15:39] psiinon opened #136 "Sites the HUD doesnt work with"
Tracker issue - add sites to this comment as you find them...

- [ ] https://www.bbc.co.uk/ (Not all pages, see #70)
- [x] https://news.google.com/
- [x] https://www.twitter.com (No HUD at all, even with CSP removed)
- [x] https://www.tumblr.com (ditto)
- [ ] http://softonic.com - redirect to https://fr.softonic.com/ goes wrong?
- [ ] http://google.cn - no HUD
- [ ] http://cnet.com - corrupted htm

[2018-06-19 22:54] thc202 opened #138 "Apply target tools in iframes?"
As discussed in IRC, it would be great if some tools (the ones that work on the target) also worked in the iframes, for example, if a target site shows a "pop up" login form using an iframe the tool Show/Enable would also show the hidden form fields in that iframe not just the main page.

[2018-06-20 09:41] #127 closed, assigned to psiinon

[2018-06-20 09:41] #49 closed, assigned to psiinon

[2018-06-20 09:58] #124 closed, assigned to nobody

[2018-06-20 10:58] Pamplemousse opened #140 "`https://zap//zapCallBackUrl` is not a valid url"
When I try to use the HUD with the following setup:

  * foxyproxy on Firefox, with patterns to match `www.mozilla.org` and `*zap*`
  * [remove CSP with a script](https://github.com/zaproxy/community-scripts/blob/master/proxy/Remove%20CSP.zst)

Here is the content of the iframes injected on `www.mozilla.org`:

[code]

[2018-06-20 12:46] Pamplemousse opened #141 "Console.log is flooded"
### Problem

Everything is logged at the same "level" in the console.
Sometimes a string in the message indicates the supposed level.

In particular, the "heartbeat" causes a lot of messages to continuously appear.

### Solution

Make better use of the [`console logging`](https://developer.mozilla.org/en-US/docs/Web/API/Console), in particular, use the functions `info`, `warn` and `debug` instead

[2018-06-21 13:21] Pamplemousse opened #143 "Signature of `window.postMessage` is not respected"
In the [`messageWindow` function, in utils.js](https://github.com/psiinon/zap-hud/blob/master/src/org/zaproxy/zap/extension/hud/files/hud/utils.js#L529), the second call to `postMessage` skips the second argument.

However, according to [the doc on MDN](https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage), this second argument is mandatory.
If I make no mistake, the `[channel.post2

[2018-06-21 15:31] #140 closed, assigned to nobody

[2018-06-26 07:41] #141 closed, assigned to nobody

[2018-06-28 14:18] psiinon opened #145 "Display sites tree"
Have made a start on this, and am now pulling the site structure back from ZAP :)

![hud sites tree](https://user-images.githubusercontent.com/1081115/42039927-cc75ca04-7aee-11e8-892d-d78e3e207b24.png)

Still lots to do, but definitely making progress...

[2018-07-06 07:39] psiinon opened #148 "Investigate bundling webpack with the HUD"
The best possible situation would be for users to be able to start hacking on the HUD without having to change any options or install any other software.
Setting a 'dev' mode is an ok alternative, but not ideal.
It would be very interesting to see if its possible to bundle webpack with the HUD, eg using something like:

- https://github.com/zeit/pkg
- https://github.com/nexe/nexe

[2018-07-12 08:09] psiinon opened #151 "Test with Chrome 67"
To see if Site Isolation https://developers.google.com/web/updates/2018/07/site-isolation impacts the HUD at all

[2018-07-19 07:15] #120 closed, assigned to psiinon

[2018-07-19 15:31] #24 closed, assigned to nobody

[2018-07-24 03:43] dscrobonia opened #162 "https upgrade bug on startup"
Everytime i restart the HUD the https upgrade has a bug on the first load. I have to refresh the tab to have it work. The `sharedData.upgradedDomains` doesn't include the target page. This means that scope, alerts, history, and any other tool taht depends on the correct protocol for the api won't work

I believe this is because the domain is only added when ZAP sends the event via websockets. But

[2018-07-24 03:56] #28 closed, assigned to nobody

[2018-07-24 04:04] #54 closed, assigned to dscrobonia

[2018-07-24 04:08] #64 closed, assigned to nobody

[2018-07-24 04:09] #65 closed, assigned to nobody

[2018-07-24 06:32] #81 closed, assigned to dscrobonia

[2018-07-24 06:35] #41 closed, assigned to dscrobonia

[2018-07-24 13:31] thc202 opened #164 "Remove CSP report only headers, always?"
From review comments in #161 (no change related to report only header was made yet). Instead of removing the headers only when the option is enabled, I think we should remove them always otherwise we might end up flooding the target with CSP violations caused by the HUD.

[2018-07-24 13:31] thc202 opened #165 "Better handling of empty responses"
Noticed this while testing #159 (but can happen with other HUD features and the HUD itself). I was resending a (changed) request to some site and to my surprise the HUD stopped working, after a while I noticed that the response was empty (was not expecting that) and that was the reason why the HUD did not show up... Ideally the HUD should not stop working, maybe inject some HTML just to allow the

[2018-07-26 00:08] dscrobonia opened #168 "In memory data in Service Worker not being persisted on termination"
Service workers were designed to be[ short lived and event driven](https://developers.google.com/web/fundamentals/primers/service-workers/). The design is that service workers be "terminated" after event handling functions have been run. We've hacked that by introducing a heart beat to so that  the service worker is constantly responding to events, and is never terminated. The reason we did this w

[2018-07-26 00:38] dscrobonia opened #169 "replay in browser fails on encoding url"
Repro steps:
1. go to juiceshop
2. use the 'replay in browser' feature to change the url to "https://localhost:3000/#/administration" and replay in browser
3. the `#` in the url is encoded and the page doesn't load correctly

[2018-07-26 07:11] psiinon opened #170 "Show all API endpoints using autocomplete in script console"
The ZAP script console has a simplified auto complete mechanism.
For HUD scripts we could use that to show all of the API endpoints.

[2018-07-30 08:21] psiinon opened #172 "Test with Alexa Top 500 sites (or more)"
Try opening each of the top 500 or so sites in a browser running the HUD.
Check the HUD loads ok.
Ideally click a link or 2 on the target site.

Ideally we should have a test script that automates this, eg using selenium.

[2018-07-31 08:16] #169 closed, assigned to nobody

[2018-08-01 00:22] dscrobonia opened #174 "Integrating Alerts with History tool"
It would be cool to integrate the alerts on to any http messages in the histoy tool that are linked to an alert. Maybe have the flag in the modal somewhere (upper right hand corner?) and clicking on the flag links you to the alert details?

I know there is the flag column in the history panel in Desktop ZAP, and we could even do something like that as well in the history tool in the drawer

[2018-08-11 12:21] Pamplemousse opened #178 "Integrate front-end security tools"
### We have new tools

Recently, some work about bringing ZAP into the browser has been released (or is soon-to-be):
  * The [front-end-tracker package](https://github.com/zaproxy/front-end-tracker) (available on npm): extend the DOM and Javascript APIs for debugging and security testing.
  * The [FrontEndScanner addon](https://github.com/zaproxy/zap-extensions/) to inject Javascript in any target

[2018-09-03 14:19] psiinon opened #184 "Back option for HTTP Message dialog"
Its not needed when displaying messages from the History frame but it is needed when displaying them from:

- Alerts (#182)
- Sites tree (#183)

Not quite sure the best way to do this - @dscrobonia any suggestions?

[2018-09-12 07:07] #145 closed, assigned to psiinon

[2018-09-12 11:41] psiinon opened #190 "Page alerts empty using Replay in Browser"
Its probably because its requesting the alerts on the ZAP API endpoint instead of the page we end up on.

[2018-09-17 07:39] #190 closed, assigned to psiinon

[2018-09-19 12:10] psiinon opened #197 "Strip out Referrer-Policy: no-referrer"
If the `Referrer-Policy: no-referrer` header is set by a target app then this will break the HUD, so we need to strip it out.
Thats because we use the referrer to get the url of the page that loaded the HUD frames.
Pro tip - if the errors Firefox provides dont help (in this case they just said 'An invalid or illegal string was specified') then try Chrome and see what it says. In this case they mad

[2018-10-01 18:13] dscrobonia opened #199 "Multiple Serviceworkers in Isolated Tabs"
Testing with Firefox 62 it appears that instead of a single service worker process shared among all tabs (per domain) there is now a service worker proccess **per tab** (per domain). Loading new pages within a single tab still keep the same service worker, but openning a new tab spawns a new service worker.

I believe this change still complies with the service worker spec, which defines service w

[2018-10-04 14:54] dvas0004 opened #200 "Intermittent issue when loading HUD tools: "cannot read property 'data' of null""
Hi All

I faced an intermittent issue when doing the following:

1. Enable HUD via icon in toolbar
2. Open configured browser (chrome in my case) by clicking on icon in toolbar

Sometimes it worked as expected and HUD is displayed, other times it would spike my CPU to 100% and chrome would freeze. Subsequent investigation showed literally thousands of errors being set in the chrome DevTools and ZA

[2018-10-05 11:03] dvas0004 opened #202 "Setting non-localhost "Local Proxy" breaks HUD security model"
With regards to the following during installation of HUD:

- Console shows error messages similar to the following:
`WARN org.zaproxy.zap.extension.api.API - Request to API URL https://cdns.us1.gigya.com/zapCallBackUrl/-8111380956573237837?zapfile=inject.js from 192.168.1.1 not permitted`

Workaround:

Make sure your API options are set to allow requests from the correct IP addresses. In ZAP, open

[2018-10-05 12:17] dvas0004 opened #203 "History table: easy CSS enhancement"
Hi All,

In some pages, like news.google.com shown below, you may end up with some really long URLs in the history tab which overflow horizontally in such a way as to be annoying:

![image](https://user-images.githubusercontent.com/5849965/46534556-35ab8580-c8b1-11e8-881e-4d9a4b92ac6f.png)

You can see above there is y-overflow, but no x-overflow. If we make a very small change in **drawer.html li

[2018-10-08 10:44] psiinon opened #204 "HUD cant be used remotely unless browser cache cleared"
I've found that I need to manually clear the (Firefox) browser cache every time before the HUD will work with a remote browser.
To reproduce:

1. Start ZAP on one machine
1. Configure ZAP (and machine) to accept remote requests
1. Configure browser on 2nd machine to proxy through ZAP
1. Proxy to target, HUD will probably work
1. Close browser (or just the tab), reopen it and open the target again

[2018-10-08 11:34] #197 closed, assigned to psiinon

[2018-10-08 11:40] #202 closed, assigned to nobody

[2018-10-08 12:45] psiinon opened #206 "History not shown on up arrow"
If you expand the History tab by clicking on the History tab button then the history is shown.
However if you:

1. Navigate to a new page
1. Click on the up arrow on the bottom drawer _without_ having clicked on the History tab

then the History tab is always empty.

This is reproducible in both Firefox and Chrome

[2018-10-09 12:03] #151 closed, assigned to nobody

[2018-10-10 15:51] dvas0004 opened #211 "Firefox Issue: CSP errors"
To reproduce:

1. Start ZAP on one machine
2. Configure ZAP (and machine) to accept remote requests
3. Configure browser on 2nd machine to proxy through ZAP
4. Proxy to target, HUD will probably work

on step 4, looking at the console I'm seeing a bunch of errors like so:

![image](https://user-images.githubusercontent.com/5849965/46743928-bfdd5a80-ccb2-11e8-922a-36e30e791f1b.png)

Those CSP error

[2018-10-11 13:54] thc202 opened #212 "Trim repo history"
Before making the repo public it might worth trimming the irrelevant/unrelated commits to the HUD, residuals from zap-extensions repo.

[2018-10-11 13:59] thc202 opened #213 "Migrate build to Gradle"
Migrate the build to Gradle as it's more flexible for our use cases (we are already using Gradle in most of the zaproxy repos). The add-on will be built with a Gradle plugin, which replaces most of the current Ant tasks/targets.

[2018-10-16 10:39] psiinon opened #216 "Log an error if no i18n key"
Looks like we can do this via:
https://kazupon.github.io/vue-i18n/guide/migrations.html#global-config

[2018-10-17 05:05] dvas0004 opened #217 "Migrate Vue files to use $emit and $on for eventBus"
When setting up an event bus in Vue files, we can use the following pattern for less verbose code:

[code]

This issue will track a PR to migrate our existing files to this pattern as discussed in #210

[2018-10-17 06:46] #203 closed, assigned to dvas0004

[2018-10-17 06:46] #206 closed, assigned to nobody

[2018-10-17 07:52] #23 closed, assigned to nobody

[2018-10-24 09:08] psiinon opened #221 "Change Attack mode icon"
At the moment its the same as the Active scan one, which is confusing.

[2018-10-24 09:10] psiinon opened #222 "Show / Enable tool doesnt actually enable"
It shows hidden fields but doesnt enable disabled ones - this can be seen in the tutorial PR #220
The implementation shouldnt be too hard, its pretty much the same as for hidden fields.

[2018-10-24 09:12] psiinon opened #223 "Add Ajax Spider"
I was waiting for the 'headless option' to become available, but theres actually no reason why it can be added now and then tweaked to support that options when its available.

[2018-10-24 10:36] psiinon opened #224 "Terminology: site/domain/target"
I dont think we've been using the terms site/domain/target very consistently, or at least I havnt :P
Be good to have a definition for HUD terms so we know when to use them.
In this case maybe:

- Site - any website (domain) whether in scope or not
- Target - the collection of urls that will be subject to tools like the spider or the active scanner. Currently we just support the whole site, but hop

[2018-10-24 13:44] #222 closed, assigned to psiinon

[2018-10-24 16:37] #217 closed, assigned to dvas0004

[2018-10-25 08:37] #213 closed, assigned to thc202

[2018-11-06 17:17] dscrobonia opened #232 "Gradle tasks names"
When running gradle I think we will want to perform the following actions: `build`, `deploy`, and `test`. Because our tests are a little special think we should split that up into `test-all`, `test-unit`, `test-selenium`, `test-alexa-top-10`. Those tests should all run in the background and be self contained with no side effects (i.e. they should work whether ZAP is already running or not, they sh

[2018-11-06 18:45] dscrobonia opened #233 "Add filter to History tool"
### Description
The History tool displays http requests that have been sent since the target page was was loaded. Often there can be a lot of messages, and you may only want to see certain types of messages. To help this we want to add support to add a search or regex feature that would remove messages that didn't match.

There are a number of different ways we could support this, but I think the

[2018-11-08 15:52] psiinon opened #235 "Alert i18n bug"
The alert internationalisation isnt quite right.
In [UIMessages.properties](https://github.com/psiinon/zap-hud/blob/master/src/other/resources/UIMessages/UIMessages.properties) set:
`alerts_risk_info = Info`
(if its not already).
Run the HUD and click on the Info alerts tool - the alerts dialog will be shown but the Info panel will not be selected. Thats because the code is using the string Inform

[2018-11-12 09:56] psiinon opened #236 "Tutorial feedback"
Sat a technical but non security friend down in front of the HUD tutorial and asked them to give it a go.
They loved the HUD, esp the ease of use, way better than a lot of new tech they've been looking at recently :D
But they did have some very useful feedback:

- [ ]  The 'Task Completed' message wasnt immediately obvious - they kept reading the page as if was a new one. Could put it at the top,

[2018-11-17 23:47] dscrobonia opened #238 "Web socket doesn't send events to all tabs in FF"
Each time we open a new tab in FF we get a new service worker process. Only the first service worker process (the first tab openned) will receive websocket events.

I tested this by openning multiple tabs, and noticing that there are only messages logged to the first tabs console for websocket onMessage events.

[2018-11-19 00:34] dscrobonia opened #239 "HUD doesn't track when page url changes (multi tab issue)"
In single page apps the url can change often, but the HUD will assume that the current url is what was originally loaded. This means displaying alerts for single page apps can be inaccurate.

Likewise when you search for something in `google.com` the pageAlerts won't be accurate because the referrer will be `https://google.com` whereas the current url will changed to something like `https://www.go

[2018-11-22 16:58] psiinon opened #245 "Break hangs the HUD UI"
Requests/responses can be intercepted in ZAP bug not get displayed in the HUD.
This is frustrating when using the ZAP desktop but a killer in daemon mode - they only way to get the browser working again is to use the API directly or to restart ZAP :(

It seems pretty easy to reproduce:

1. Launch browser with the HUD enabled
1. Turn 'break' on
1. Open a site which loads a load of files, eg http://

[2018-11-23 01:04] dscrobonia opened #246 "Branch Management"
@psiinon @thc202 @kingthorin @jaywon. Jason suggested in #237 that we add a "development" branch and I think its time we start to shift to a more mature branch management model.

I propose that we do the typical `master`, `development`, `release`, `hotfix-someHotfix`, `feature-newFeature`, `bug-someBug` paradigm. (from the classic: https://nvie.com/posts/a-successful-git-branching-model/)

Also @p

[2018-11-23 11:08] psiinon opened #247 "Re-enable option to change scripts in ZAP"
Change the HUD to pick up the files directly from the repo in dev mode.
The user will need to point the HUD to the top of the repo and then the code will need to understand the directory structure underneath.
Don't know how many people will use this feature regularly, but its really good for demos and so its impact shouldn't be underestimated.
We should probably change the generated files to inclu

[2018-11-23 17:33] psiinon opened #250 "Rationalise injected strings"
Right now we are potentially injecting a variety of values into all HUD pages:

- `<<ZAP_HUD_FILES>>` (13 files, js and html, inc on target domain)
- `<<URL>>` (just inject.js)
- `<<ZAP_SHARED_SECRET>>` (just management.js and inject.js)
- `<<ZAP_LOCALE>>` (just i18n.js)
- `<<SHOW_WELCOME_SCREEN>>` (just management.html and management.js)
- `<<TUTORIAL_URL>>` (just management.js)

and the followin

[2018-11-23 19:29] #25 closed, assigned to nobody

[2018-11-23 20:13] #114 closed, assigned to nobody

[2018-11-24 11:25] #19 closed, assigned to nobody

[2018-11-26 09:08] #21 closed, assigned to nobody

[2018-11-27 09:02] #40 closed, assigned to nobody

[2018-11-27 14:26] #245 closed, assigned to psiinon

[2018-11-27 14:27] psiinon opened #258 "Break can hang if window not visible"
The original issue #245 has been mostly fixed but there are edge cases where this can still happen.
Would be good to make this completely reliable.

[2018-11-27 15:33] #250 closed, assigned to psiinon

[2018-11-27 15:42] #131 closed, assigned to psiinon

[2018-11-27 16:29] psiinon opened #259 "Alpha release tracker"
- [ ] Multi-tabs (PR #234)
  - [x] Fix broken growler alerts (PR #234)
  - [x] Merge conflicts (PR #234)
  - [x] Run reg tests
  - [ ] Update site alerts to use new summary endpoint
- [x] Create new summary endpoint (PR #264)
- [x] HUD errors in dev mode only (PR #265)
- [x] DEBUG in dev mode only (PR #265)
- [x] Remove example options (PR #279)
- [x] Top level README (PR #261)
- [ ] Clean wiki -

[2018-11-27 16:52] dscrobonia opened #260 "requesting https upgraded page from browser throws error"
if you visit a http only page, i.e. `localhost:3000` this will get automatically upgraded `https://localhost:3000`. If you then request the https page in the browser it will return an error.

[2018-12-01 16:44] #58 closed, assigned to nobody

[2018-12-02 16:32] #239 closed, assigned to nobody

[2018-12-03 01:10] #246 closed, assigned to nobody

[2018-12-03 08:43] thc202 commented on #212
Closing, all branches have been updated, unfortunately that automatically closed the open PRs.

For the authors of those PRs, I'd suggest forking the repo again and open a new PR, once done we can remove the branches in this repo.

[2018-12-03 08:43] #212 closed

[2018-12-03 17:01] dscrobonia commented on #259
lets close this out. I'll reopen a pr with some of the notes form the previous pr message. Thanks!

[2018-12-03 19:21] thc202 commented on #259
Closing, thank you.

[2018-12-03 19:21] #259 closed

[2018-12-04 07:01] bkimminich commented on #26
I'd recommend https://standardjs.com for linting, as it offers auto-fixing of issues and you get rid of those incredibly annoying and useless semicolons once and for all... 😁

I'm using it on the Juice Shop since ... forever ... and it worked fine on backend and frontend JS alike. Never ran into any interpreter issues with it, and it looks really pretty.

[2018-12-04 18:41] WriteCodeEveryday opened #288 "HUD will not build under gradle 5.0"
Maybe we should consider specifying a specific Gradle version for builds.

Build under Mac OS Sierra,
homebrew for gradle and zap
building from zap-hud master.
[code]

[2018-12-04 18:41] WriteCodeEveryday commented on #288
This should be informational, I don't expect any action on this.

[2018-12-04 18:44] thc202 commented on #288
The project has the Gradle wrappers, which use the expected version (currently 4.10.2). At some point we'll be updating to Gradle 5 though.

[2018-12-04 19:13] thc202 commented on #288
Sorry, that's outdated.

[2018-12-04 19:15] thc202 commented on #288
You can use `deploy` (to default dev dir) or use `runZap`.

[2018-12-04 19:32] thc202 commented on #288
Depends on the OS: https://github.com/zaproxy/zaproxy/wiki/FAQconfig (It's the same as the weekly.)

[2018-12-04 19:35] thc202 commented on #288
The Gradle tasks in the wiki are now correct, the links are also pointing to zaproxy. There's still some outdated information regarding the HUD structure though.

[2018-12-04 21:30] #288 closed

[2018-12-07 22:19] psiinon opened #290 "Alert flags on fields with issues no longer work"
To reproduce scan the bodgeit search page to find the XSS. The search field is correctly highlighted and an icon is added, but clicking on that icon has no effect.
An error is shown in the console:
[code]

[2018-12-07 22:21] psiinon commented on #290
Looks like its calling the API endpoint `/core/view/alert/?id=undefined` ;)

[2018-12-07 22:36] psiinon commented on #290
@dscrobonia I think the bug is that https://github.com/zaproxy/zap-hud/blob/develop/src/main/zapHomeFiles/hud/tools/commonAlerts.js#L55 isnt including the tabId, unlike https://github.com/zaproxy/zap-hud/blob/develop/src/main/zapHomeFiles/hud/tools/commonAlerts.js#L71

The trouble is the message originates from inject.js: https://github.com/zaproxy/zap-hud/blob/develop/src/main/zapHomeFiles/hud/ta

[2018-12-08 00:37] dscrobonia commented on #290
ah! yah that is the bug. and the inject does have access to the tabId, because it generated it! https://github.com/zaproxy/zap-hud/blob/develop/src/main/zapHomeFiles/hud/target/inject.js#L13

:) good find

[2018-12-09 18:12] #290 closed

[2018-12-12 09:41] psiinon commented on #83
We do now have a dev mode for the HUD, but it might not yet support all of these features...

[2018-12-12 09:44] psiinon opened #294 "Add option to not run tools on target domain"
Eg the input field highlighting and reveal tool.
If turned on we would do the minimum changes to the target domain possible and not accept any operations from it.
This would add extra protection from potentially malicious sites.

[2018-12-12 09:56] psiinon opened #295 "Document HUD security model and features"
Clearly explain the HUD security model and how it protects against specific threats.

[2018-12-12 09:57] psiinon opened #296 "Document HUD development process"
How can new contributors get started with HUD development?

[2018-12-13 11:15] psiinon opened #297 "Packaged HUD script"
Implement a python script that pulls the latest weekly docker image (similar to the baseline), runs it and launches firefox/chrome (locally, not in docker) set up to rpxy through ZAP in docker with the HUD enabled.
This would be a good option for people who don't use ZAP often or don't want to install Java on their machines.
It would also provide even more security.
Be nice to have this for 0.2.0

[2018-12-13 14:13] nagpradis opened #299 "Scan specific url"
Hi all -

I started using HUD with ZAP and it has been a great experience. Very efficient way to do the manual testing. My request is, it would be great to give a button that can trigger an active scan on the intercepted request.

Thanks!
Nagpradis

[2018-12-13 14:23] psiinon commented on #299
Thanks for the feedback!
Definitely agree with the option to scan a specific url, I can see that being very useful

[2018-12-17 16:15] psiinon commented on #297
Thinking about this, it might be non trivial :/
The HUD no longer depends on the Selenium add-on so if the user doesnt have ZAP installed locally we'll have to install selenium and the webdrivers.
We could still still get ZAP running in docker with the right settings, but the user will need to import the ZAP root CA cert, which might not be that easy to access.

[2018-12-17 16:17] psiinon opened #305 "Package the client side libraries"
Eg using npm and packages.json

[2018-12-17 22:32] dscrobonia commented on #297
hmmm... yeah we get docker to spit out the cert, but even then a user has to do all the browser config themselves.. could we add selenium and the web drivers as a dependency?

[2018-12-18 08:58] psiinon commented on #297
We could add selenium back as a dependency and then look into using the same mechanism we use for gradle to pull down the webdrivers.
However this feels a bit clunky and introduces more dependencies :/

[2018-12-18 14:32] psiinon opened #306 "Replace alertify.js"
It looks like alertify.js has been EOLed :( https://github.com/fabien-d/alertify.js

However there is this option: https://www.npmjs.com/package/alertifyjs and also https://www.npmjs.com/package/vue-alertify

[2018-12-18 14:35] psiinon commented on #305
Libs that we dont appear to be tracking (via https://github.com/zaproxy/zap-hud/network/dependencies) include:

- alertify.js (which isnt in NPM and we need to replace: #306)
- localforage
- vue-i18n

[2018-12-18 16:06] dscrobonia commented on #306
:( I think I like https://www.npmjs.com/package/alertifyjs better from looking at the too. Need to migrate over to it.

[2018-12-20 09:49] psiinon opened #309 "Disable HUD for unsupported browsers"
The HUD will only work with Firefox and Chrome.
It would be better if we detected other browsers via the User Agent and didnt inject the HUD for them.
If and when other browsers support the features we need for the HUD we can re-enable them.

[2018-12-21 19:00] dscrobonia commented on #309
Do we know the HUD doesn't work on other browsers? I actually haven't tested on IE or Safari?

[2018-12-24 20:01] dscrobonia opened #312 "Create "Report" tool to generate an HTML Report"
This tool will create an HTML report of the alerts found during spidering and scanning. This will replicate the functionality when you click on "Report" -> "Generate HTML Report" in the Desktop ZAP.

Features:
* Selecting the button should prompt a file picker pop up to pick where you want to save the file

[2018-12-24 21:46] kingthorin commented on #312
Separate but related (maybe this should be a google groups thread). How will extensions expose HUD functionality? (Ex: If one of the reporting extensions wanted to be present in HUD?)

[2018-12-24 23:10] kingthorin commented on #312
Great 😁

[2018-12-27 09:37] psiinon commented on #312
Ideally we wouldnt need to prompt for where to save the file, just show the HTML report in a new window/tab.
If the user wants to save it locally then they can do via the browsers 'Save page as...' option.
Remember than some people will be accessing the HUD remotely, esp if they are running ZAP in docker. Saving the report to filesore in this case isnt very useful.

[2018-12-27 09:41] psiinon commented on #309
I'm pretty sure it wont, but yeah, definitely worth checking before implementing this proposal :)

[2018-12-27 15:15] psiinon opened #316 "Sites upgraded to https fail if 'only in scope' switched on"
Start using the HUD with an HTTP based site, but dont add it to the scope. The HUD will upgrade it to HTTPS.
Turn on the 'Enable the HUD only for URLs that are in scope' option.
The site will then fail with "Unrecognized SSL message, plaintext connection?" errors.
This is pretty confusing, especially for newcomers.
(Thanks mum: https://twitter.com/psiinon/status/1077890840142450689 ;)

[2018-12-28 06:45] dscrobonia commented on #312
Oh shoot! We had a potential contributor reach out saying they wanted to help out, so I created this issue for them because I thought it would be a good one to start on. haha. :man_facepalming: I should have added a comment about that, so that's my fault. didn't expect y'all to jump on it so quickly! haha

[2018-12-28 06:56] dscrobonia commented on #316
Great find! More usability tests!

[2018-12-28 09:05] psiinon commented on #312
It was actually harder than it might have initially appeared - it required HUD java changes and core ZAP changes :)

[2018-12-28 12:01] psiinon commented on #223
This should just be a rip off of the std spider tool, but with an option to select which browser to use.

[2018-12-28 14:29] #221 closed, assigned to psiinon

[2018-12-28 17:29] psiinon opened #319 "Add API endpoints for getting and setting UI options"
These should cope with arbitrary keys so that the UI can get/set whatever options it needs to without any further Java changes.
The UI options are currently persisted in the browser session, but this means they are not persisted when 'browser launch' is used.

[2018-12-28 17:35] psiinon opened #321 "Persist UI options in the ZAP configs"
This is so that UI options are not lost when browser launch is used.
Depends on #319

[2018-12-31 11:41] psiinon opened #324 "No issues reported by lgtm"
https://lgtm.com/projects/g/zaproxy/zap-hud/alerts/?mode=list

[2018-12-31 12:11] psiinon commented on #324
Hopefully will be addressed by https://github.com/zaproxy/zap-hud/pull/325

[2018-12-31 14:43] psiinon opened #326 "Tutorial 'Dont show this screen again' option broken"
Looks like this is because the new SameSite cookie is not being added to the API request.
Apparently this is because the ZAP frame is on the target site, but we have other similar cases (eg the Site tree) where the API calls appear to still work.
Am investigating...

[2018-12-31 14:46] psiinon commented on #326
One fix would be to have 2 cookies - the current one and another without the SameSite flag for relatively safe requests that can trigger this issue, but I'd really like to find out why the other API requests are still working...

[2018-12-31 15:41] psiinon opened #328 "Firefox loops trying to access https://detectportal.firefox.com/success.txt"
This results in a stream of errors like:
[code]

I've got a feeling these checks can be turned off via prefs - maybe we should be doing this for Browser Launch?

[2018-12-31 15:57] thc202 commented on #328
Will reinstate that (it's currently applying just to AJAX Spider launched browsers, zaproxy/zap-extensions#1848).

[2018-12-31 16:02] psiinon commented on #328
Cool - I think its something we should always turn off when launching browsers from ZAP, unless anyone can think of a reason why it should be a (default off) pref?

[2018-12-31 16:21] thc202 commented on #328
Opened a PR (zaproxy/zap-extensions#1901) to reinstate that now since that's the behaviour of the current version in the marketplace. Happy to move to an option if needed.

[2018-12-31 16:38] psiinon opened #329 "Complete tasks"
Current HUD features without tasks:

- [ ] Enable
- [ ] Show
- [ ] Break
- [ ] Resend
- [ ] Spider
- [ ] Active Scan
- [ ] Attack

[2018-12-31 16:40] psiinon opened #330 "Complete Selenium tests"
Current features without selenium tests:

- [ ] Site alerts
- [ ] History
- [ ] Sites
- [ ] Scope
- [ ] Enable
- [ ] Show
- [ ] Break
- [ ] Resend
- [ ] Spider
- [ ] Active Scan
- [ ] Attack

[2019-01-02 15:16] psiinon opened #333 "Add tutorial index page"
Eg linked from an 'Index' button on the left of the Previous and Next ones.
This would show all of the tutorial pages but only link to the ones accessible based on the tasks completed (unless that option is disabled).

[2019-01-02 17:51] psiinon opened #335 "New tool - enable / disable favorite script"
OK, not a trivial first issue, so maybe a good second one?
This would add a tool similar to the one demo'ed by @dscrobonia on https://segment.com/blog/hacking-with-a-heads-up-display (section 3)
In this case there would need to be an option to choose which script to enable / disable - the list of ones installed should already be available via the API.
So when the user first clicks on the tool they

[2019-01-02 17:53] psiinon opened #336 "New tool - replacer"
UI around the ZAP replacer tool: https://github.com/zaproxy/zap-extensions/wiki/HelpAddonsReplacerReplacer

The UI will be the hardest part of this enhancement, the replacer tool already has an API.

[2019-01-02 17:55] psiinon opened #337 "New tool - enable/disable any script"
Similar to #335 but instead of enabling/disabling a specific script this would show a list of all of the enableable scripts and allow the user to toggle them.
Again, the UI will be the hardest part of this enhancement as the API calls already exist.

[2019-01-02 18:00] psiinon opened #338 "Allow alerts to be edited"
Or added for that matter.
This would allow users to add additional info, or change things like the priority or flag them as flase positives.
All fields should be editable, possibly after an 'edit' button has been clicked.

[2019-01-02 18:02] psiinon opened #339 "New tool - display and manage notes"
ZAP allows users to add notes to any requests.
Add a new tool to show show the notes and allow them to be added, changed and deleted.
An option to display all of the notes would be really useful, something thats not easy in ZAP right now.

[2019-01-02 21:08] dscrobonia commented on #221
@psiinon very nice!!

[2019-01-03 09:02] #319 closed

[2019-01-03 15:41] psiinon commented on #324
Down to 4 alerts now :D
Will submit a PR to hopefully fix these asap...

[2019-01-04 16:11] psiinon opened #342 "HUD unresponsive if you wait on the welcome screen"
Launch a browser with the welcome screen enabled, and leave it for a couple of mins.
Dismiss the screen and you'll find that the HUD doesnt communicate with ZAP - no alerts etc.
It looks like the hearbeats are failing because navigator.serviceWorker.controller is null.
@dscrobonia is this because the serviceworker isnt really active until we refresh?
If so we might need to change how the Welcome s

[2019-01-04 17:14] dscrobonia commented on #342
ahh. So the serviceworker is `active` in the Service Worker lifecycle meaning. BUT the heartbeat doesn't start until the pages get refreshed. so if you wait for a while the servieworker will terminate.

Startup fixes will help this. We can refresh in the background so taht the heartbeat works.

[2019-01-04 17:37] psiinon commented on #342
This will be a blocker to #341 but not super urgent

[2019-01-07 14:51] thc202 opened #344 "Make functional tests more reliable"
Some of the functional tests (tutorial) fail sometimes, e.g.:
[code]

[code]

[code]

[code]

(The above stack traces might not be exactly the same in develop, but the assertions should be the same.)

[2019-01-07 14:51] thc202 opened #345 "Run functional tests with Chrome"
To ensure that the HUD also works correctly in Chrome (it should). This depends on a new release of [selenium-jupiter](https://github.com/bonigarcia/selenium-jupiter) to easily test both of them (Firefox and Chrome) using the same code.

[2019-01-07 14:52] thc202 opened #346 "Management frame might prevent clicking tools in the right panel"
If the window is resized (to make it smaller) enough the `management` frame ends up being over the last tools shown in the right panel preventing some interaction with them.

[2019-01-07 14:56] thc202 commented on #344
For current state: https://travis-ci.com/zaproxy/zap-hud/branches

[2019-01-07 15:33] dscrobonia commented on #346
I think you mean the `bottom-drawer` or `growler` iframe right? But yeah, that definitely gets in the way sometimes.

[2019-01-07 15:36] dscrobonia commented on #344
Thank you for adding this issue @thc202 ! Should we possiibly downgrade these 4 tests to some sort of "alpha" tests or "in development" tests until we can shake out what cuases the unreliability? Maybe still run them in Travis but don't fail on them yet?

[2019-01-07 16:01] psiinon commented on #344
I'd rather thay stayed mandatory - we can just quick off the tests again if they fail.
But def agree we want to get to the bottom of the problems and make them reliable

[2019-01-07 16:07] thc202 commented on #346
No, it's the `management`:
![frame](https://user-images.githubusercontent.com/4639210/50778526-1a785980-1296-11e9-8f04-ed0ffb2aae7b.png)

[2019-01-07 17:49] dscrobonia commented on #344
Why do we want mandatory tests that aren't reliable? Am I missing something?

[2019-01-07 17:51] dscrobonia commented on #346
oh wat.

No idea why thats there. Yeah we should make that thing hidden. I do'nt believe it needs to be there for any resaon. @psiinon ?

Eventually we can even migreate all of that code into one of the other frames now that it has no UI purpose.

[2019-01-07 17:57] psiinon commented on #344
Because if they consistently fail then we have a problem.
If they fail we restart them, if they fail several times in a row then we investigate.

[2019-01-07 18:10] dscrobonia commented on #344
That seems to defeat the purpose of the automated tests. I really don't want to have to keep restarting tests or ignoring them. I think only reliable tests should be mandatory.

[2019-01-07 20:12] psiinon commented on #344
We'll have to agree to disagree then :P
I'm all for making them more reliable, but if they become option then we'll just ignore them and never fix them.
I think we need more tests, not less, so lets focus on adding more and making the ones we've got better :)

[2019-01-08 15:59] thc202 commented on #345
The newer version (3.0.0) is already available in Maven Central.

[2019-01-08 22:06] dscrobonia opened #348 "Look into persisting tabId's across page loads"
Currently tabId's are generated on every new page load. So if you were to open a page in a tab, and then open a new page within the same tab. There would be a unique tabId for both instances of the HUD loaded on those two pages. This means the tabId is less a tab identifier and more a page identifier. It may be worth it to try to implement a persistent tab identifier that stays consistent among ne

[2019-01-08 22:12] dscrobonia opened #349 "Cache tool data values in session storage"
Everytime the HUD is loaded the panel frames send postmessages to the tools to get the current state of the tool. All tools use the `getTool` command to determine the state of the button. (i.e. https://github.com/zaproxy/zap-hud/blob/develop/src/main/zapHomeFiles/hud/tools/scope.js#L160) Before that postmessage is sent and completed the buttons are in a state of limbo and load the last saved value

[2019-01-09 20:38] dscrobonia commented on #299
Agreed. Excited to see it!

[2019-01-12 20:24] dscrobonia opened #353 "History displays upgraded URL's, not original http URL's"
I think the history tool should display the original URL of pages that have been upgraded to https from http. Thoughts?

You can see in this screen shot that we actually currently see both the original http request, and then the upgraded request.
![image](https://user-images.githubusercontent.com/5150944/51078109-1026d880-1665-11e9-959d-ab372000e463.png)

[2019-01-14 09:38] psiinon commented on #353
I'm confused.
Its showing the original http requests for localhost, which is right, no?
The upgrade from http -> https for owasp.org is being done by owasp.org not the HUD - just try it in your browser (without the HUD) to see.

[2019-01-16 10:26] psiinon opened #354 "Auto scroll to latest history record"
When the History tab is expanded, or if you leave it expanded while you browse, then it always displays the first requests.
I think it would be better if it always displayed the latest requests, ie scrolled to the bottom of the set, as per the Desktop UI.

[2019-01-16 10:38] psiinon opened #355 "Add option to change the HUD font size(s)"
Esp useful for the History tab, but could well be useful for the other tools as well.

[2019-01-16 10:41] psiinon commented on #258
@dscrobonia do you think this should be fixed now?

[2019-01-16 10:43] psiinon commented on #129
The plan is to address this in #341 - that should already do the right thing for the spider and active scanner.

[2019-01-16 16:59] psiinon commented on #309
I guess a better option would be to see which features the relevant browsers fail on, then try to detect if those are supported and if not show a suitable message in the HUD.
That way if and when they do support all of the necessary features then it should all just work...

[2019-01-16 17:34] psiinon commented on #309
For info JxBrowser 6.22.2 fails with: SecurityError: Failed to register a ServiceWorker: An SSL certificate error occurred when fetching the script.: {}
Raised as https://stackoverflow.com/questions/54222389/jxbrowser-fails-to-register-a-serviceworker-if-a-certificate-error-occurs

[2019-01-17 11:11] #129 closed

[2019-01-17 12:03] psiinon commented on #130
Working on this now:

- [ ] Active scan
- [ ] Attack mode
- [ ] Break
- [ ] History
- [ ] Logging
- [ ] Scope
- [ ] Sites tree
- [ ] Spider
- [ ] Show welcome screen option

[2019-01-17 14:07] thc202 opened #359 "HUD chokes sometimes when going to previous page"
Sometimes when going back to a previous page (browser's back button) the HUD takes a while to load, once finished the HUD error counter shows hundreds (if not thousands) of errors, mostly `Could not find any clients for frameId`:
[code]

[2019-01-17 14:25] psiinon commented on #359
I've reproduced this by browsing bodgeit and making frequent use of the back button too.
Not noticed it before, but I've probably not used the back button much when testing the HUD so far.

[2019-01-19 01:47] dscrobonia commented on #353
oh no you're totally right. hahaha. bad instant reaction.

[2019-01-19 01:47] #353 closed

[2019-01-19 02:22] dscrobonia commented on #354
yeah that should be the expected flow for sure.

[2019-01-19 16:40] dscrobonia commented on #359
Yeah I've just left this as undefined behaviour so far. Haven't looked into addressing this yet.

[2019-01-22 16:52] psiinon opened #360 "Request / response highlight option"
It would be great to have an option to highlight one (or more?) strings in the Request / Response dialog.
We could use this for alert 'evidence' and for search results.
The ZAP desktop uses highlighting in this way ;)

[2019-01-22 16:54] psiinon opened #361 "Search tab"
It would be great to have a Search tab down by the History one.
This would acti in a similar way to the ZAP desktop search tab, allowing users to search for regexes across all requests and responses.
There is API support for search but it might not be particularly well tuned for this use case. We can of course extend the API :)
Being able to highlight the strings found would be very useful, as per

[2019-01-24 11:55] psiinon commented on #130
All done, apart from the welcome screen option that I'm proposing gets fixed once the start up has stabilised.
The option doesnt work right now anyway so I'm disabled the checkbox.

[2019-01-28 09:05] #233 closed

[2019-01-28 09:46] psiinon commented on #360
@jaywon - sent you a collaboration invite : looks like I cant assign issues to you until you accept that

[2019-01-28 18:24] jaywon commented on #360
@psiinon accepted!

[2019-01-29 15:21] psiinon opened #373 "Show websockets messages in new tab"
Similar (and next) to the history tab and as per the desktop Websockets tab.
I'm thinking that this should only show websockets messages to the current site being displayed? Or is that an option we give to users?
This work can be phased:

- [x] New tab showing websockets messages
- [x] Select message to display and resend
- [x] Option to resend message
- [ ] Support break with websockets

This wil

[2019-01-29 15:22] psiinon commented on #373
For info I've just got the websockets messages being shown in a new tab, although they could be prettier ;)

[2019-01-29 23:59] thc202 commented on #344
The first and second failures will no longer be relevant once #358 is merged (the HUD is no longer using `ZAP_HUD_API`).

The fourth failure should be fixed with #376.

[2019-01-30 10:44] psiinon opened #378 "Show comments tool"
Add a tool to show a count of the number of comments and to allow them to be displayed, similar to the showHide tool.
There are various options for showing the comments:

1. Changing them into text nodes
1. Inserting an image that shows the comment on hover over or on click
1. Showing the comments as a list in the bottom tab

[2019-01-30 10:46] psiinon commented on #378
FYI I've knocked up a quick version which inserts images and shows the comments as hover overs (just using the text attribute).
Seems to work well - I'll tidy it up and submit a PR for comment...

[2019-01-30 13:00] #162 closed

[2019-02-04 09:12] #299 closed

[2019-02-04 09:54] #130 closed

[2019-02-04 19:23] psiinon commented on #321
@dscrobonia do you have an idea on how you would like this to work? I'm happy to look at it ...

[2019-02-05 09:22] psiinon commented on #344
Just added a checklist to the first comment

[2019-02-05 13:17] #333 closed

[2019-02-05 14:04] thc202 commented on #344
Checked `BadSiteUnitTest: ZAP_HUD_FILES is not defined`, no longer happening in the latest builds.

[2019-02-05 14:34] psiinon opened #392 "HUD fails with Java 11 and TLS 1.3"
Java "11.0.2" 2019-01-15 LTS
Getting error code SSL_ERROR_RX_RECORD_TOO_LONG in the console.
Reported by @mozmark

[2019-02-05 14:35] psiinon commented on #392
We're retrying with Java 8, but didnt want this problem forgotten about.

[2019-02-05 14:36] thc202 commented on #392
This is most likely a JRE issue, we workaround it in the tests by disabling TLS 1.3 (in Options > Proxy).

[2019-02-05 14:50] psiinon commented on #392
For info Java 8 works fine on that machine :)

[2019-02-05 14:51] psiinon commented on #392
/me wonders if we can detect that anywhere and then give a user friendly warning

[2019-02-09 22:02] dscrobonia commented on #258
I think this particular issue is fixed, but only because we've hacked around it to automatically push messages through that arrive before the HUD is loaded. So that's still not correctly handled, and that is what this ticekt is supposed to reflect IIRC

[2019-02-11 09:07] #258 closed

[2019-02-11 11:26] #326 closed

[2019-02-11 11:26] #342 closed

[2019-02-11 23:15] thc202 commented on #344
Recent failures of the pending task:
[code]

[code]

[2019-02-12 10:57] psiinon opened #411 "Add option to clear history / websockets tab"
This would allow users to ignore older messages they are no longer interested in.

[2019-02-18 15:56] psiinon commented on #295
Just added https://github.com/zaproxy/zap-hud/wiki/Security
@dscrobonia @thc202 @kingthorin is that enough to close this issue?

[2019-02-18 16:02] kingthorin commented on #295
Looks good to me, just two quick things:

Should probably link to the relevant FAQ(s) or help content.

Have you tried using HUD from within docker? I have no idea what that would look like or if it's practical.

[2019-02-19 14:49] psiinon commented on #295
Have updated to state the default setting are safe but can be updated via the API Options Screen (which is linked to).
Will try the HUD via docker asap - I really want that to work well ;)

[2019-02-19 16:02] psiinon commented on #295
Added https://github.com/zaproxy/zap-hud/wiki/Using-the-HUD-with-ZAP-in-Docker and linked to it :D

[2019-02-19 16:18] kingthorin commented on #295
LGTM!

[2019-02-19 18:08] thc202 commented on #344
Checked `FramesPageUnitTest: 147 expected: < false > but was: < true >`, per latest changes.

There are still some failures in `PageAlertsPageUnitTest` though.

[2019-02-19 22:10] thc202 commented on #344
One of the builds failed for `FramesPageUnitTest`:
[code]
will take a look.

[2019-02-22 09:16] psiinon commented on #309
JxBrowser 6.23 which uses chromium 69 is now available.
I've raised https://github.com/zaproxy/zaproxy/issues/5231 to upgrade it in ZAP and then we can see if the HUD works with it :)

[2019-02-22 18:54] thc202 commented on #344
The change in #425 addresses a failure in `FramesPageUnitTest` that happened when waiting for the panels to be hidden/visible (because of the overlap it could open the Alerts dialogue instead of pressing the button to hide/show the frames).

[2019-02-25 15:27] dscrobonia commented on #295
Way behind the ball here. Looks great!

[2019-02-25 15:31] dscrobonia commented on #309
We should also figure out how we're going to deal with Java 11 on Mac. cuz any new mac trying to run the HUD will fail.

[2019-02-26 14:47] mozmark commented on #392
Curious; do we have any more info on what's happening here? Do TLS 1.3 bugs affect other apps on Java 11?

[2019-02-26 15:00] thc202 commented on #392
I don't have details of the actual problem yet. They should, there are a couple of TLS 1.3 related bugs:
https://bugs.openjdk.java.net/browse/JDK-8217709?jql=project%20%3D%20JDK%20AND%20issuetype%20%3D%20Bug%20AND%20text%20~%20%22TLS%201.3%22%20ORDER%20BY%20affectedVersion%20DESC
(I didn't find any that matches this case though.)

[2019-02-26 15:33] psiinon commented on #392
Yep, burp :) https://twitter.com/burp_suite/status/1098136754425495553

[2019-02-26 18:11] kingthorin commented on #392
Well good to know we're not alone.

[2019-02-27 10:30] psiinon commented on #392
Note that TLS 1.3 is now disabled by default in ZAP, so hopefully we'll see this less often.

[2019-02-28 17:35] psiinon opened #433 "HTTP Message dialog shows JSON as [object Object]"
Select an HTTP message with a JSON body from the History tab.
The body will be shown as:

Rather than the actual JSON data.

[2019-02-28 19:11] thc202 commented on #309
The HUD still does not work in JxBrowser (6.23).

[2019-02-28 19:13] thc202 commented on #309
Regarding the Java 11 issue, TLS 1.3 is now disabled by default in the proxy (the change will be available in the next weekly).

[2019-02-28 20:07] dscrobonia commented on #433
Yes thank you for creating this issue! Noticed this the other day. I'm guessing maybe something with the switch to websockets for api calls.

[2019-02-28 23:02] dscrobonia opened #434 "Clone repo for first time, running runZap outputs errors but still works"
I tried seeing what it would be like for a first time user to clone the repo and try to run the HUD with the `./gradlew runZap` command. It took about 3 minutes to execute, and ultimately worked perfectly. But when the gradle CLI finished up it reported errors.

I'm curious about why it reported errors but still worked. This may be confusing to first time users.

![image](https://user-images.githu

[2019-02-28 23:05] thc202 commented on #434
The build expects ZAP to be up and running after 20 seconds (since it started it), in that case it took some more time to start. I guess we can give it more time, 60 seconds? That should be enough.

[2019-02-28 23:09] dscrobonia commented on #434
also saw this heapDump

![image](https://user-images.githubusercontent.com/5150944/53604981-e79e6380-3b6a-11e9-8289-68ccb704db98.png)

[2019-02-28 23:11] dscrobonia commented on #434
@thc202 just as an fyi, it took about 3 minutes from starting the command to have zap up and running. Is the 20 seconds just for one part of that? like after zap get downloaded  it waits 20 seconds from starting it til its open?

[2019-02-28 23:13] thc202 commented on #434
Yes, the 20s start counting just after starting the ZAP process.

Regarding the previous comment, that's Gradle daemon process:
https://docs.gradle.org/current/userguide/gradle_daemon.html

[2019-02-28 23:21] dscrobonia commented on #434
oh interesting. is that an error then or just some weird config?

[2019-03-01 08:01] thc202 commented on #434
Just a config, it enables heap dumps when the Java process hits an OutOfMemoryError (if you were referring to that?).

[2019-03-01 09:13] psiinon opened #438 "Return promises in more cases"
The tools initialize() function is one case as noted in #401 but I think there are others.

[2019-03-01 09:14] #321 closed

[2019-03-01 09:34] thc202 opened #439 "Add tutorial page about upgraded domains"
To explain why and when the domains are upgraded (i.e. changed from HTTP to HTTPS) and that the upgrade is done only in the client side, ZAP will still access them with HTTP.

[2019-03-01 09:38] smandon opened #440 "HUD forces HTTPS when connecting to port 443 that is HTTP only"
**Describe the bug**
I'm trying to use zaproxy to test an HTTP server running on port 443 but it automatically changes the request to use HTTPS, which obviously fails.
This is not coming from the browser (firefox in my case) as it works perfectly as long as i'm not proxying through zaproxy, and it's not a server redirection as it doesn't have SSL/TLS at all, I also checked with wireshark, and I ca

[2019-03-01 09:40] psiinon commented on #440
@smandon thanks for reporting this. We've just moved it as the HUD issues are in its own repo.

[2019-03-01 16:01] dscrobonia commented on #434
Thanks for explaining that to me @thc202 :D

[2019-03-01 16:01] #434 closed

[2019-03-05 12:54] psiinon commented on #433
Just fixed this for the new WebSockets PR with this line: https://github.com/zaproxy/zap-hud/blob/df1409ba3fa3a616929ccb9e31f21679a5b68373/src/main/zapHomeFiles/hud/display.js#L468
I'd expect the HTTP fix to be very similar

[2019-03-05 21:15] dscrobonia commented on #433
Awesome! making sure payloads are being properly displayed in break is huge. Glad we can fix this soon. :)

[2019-03-05 21:20] dscrobonia commented on #373
Whatever route we go with here lets keep it consistent to how we're treating http messages. I think my default both http and websocket histories should only show traffic for the site/tab that you're in, and then there should be an easy checkbox to display traffic across all tabs. I want to say this isn't a trivial fix, but as a user I think that's how I would want to experience it.

[2019-03-05 22:42] jaywon commented on #373
This is possibly a new way to think about "scopes" and how they're defined/experienced?

[2019-03-05 23:38] dscrobonia commented on #373
Ya I've actually been thinking about that quite a bit. In some tools we run them against the domain/url we're currently in and don't actually use the scope. And our notion of "scope" in the HUD hadn't previously supported multiple domains, urls, or regexes yet. I started making progress towards that in #350 by trying to treat scope as a list of urls. But lots more needed to be done.

Ideally thing

[2019-03-07 15:12] #433 closed

[2019-03-08 14:19] fabianhick commented on #136
I found another type page where the Injection doesn't work.
It's a pretty old system and therefore it uses a lot of frames...

1. Issue when constructing page with JavaScript
The inital check-page uses JavaScript in order to set the html...
Therefore it would be neat if the parser could detect which kind of quotation marks have been used.

Example:
[code]
2. Issue when page is using a lot of frame

[2019-03-08 14:23] psiinon commented on #136
@fabianhick thanks for reporting this!
While we have considered using a browser plugin, and might well provide one in the future, we cant rely on people installing it. The fact that the HUD currently works without any plugins makes it much more likely people will try it out.

[2019-03-08 14:27] fabianhick commented on #136
I totally get why you chose that design!
It creates much more freedom, but also comes with some pitfalls...

[2019-03-08 14:35] psiinon commented on #136
It does indeed!
We did try injecting the javascript in the head but I think we hit some performance issues - @dscrobonia can you confirm that? Maybe we can try detecting cases where it doesnt work in the body and fall back to putting it in the head, or vice versa?

[2019-03-08 14:57] fabianhick opened #450 "Broken Links in Wiki"
Page: https://github.com/zaproxy/zap-hud/wiki/Initialization
The Links for `injectionHtml.html` and `inject.js` are broken.

They should be:
https://github.com/zaproxy/zap-hud/blob/master/src/main/zapHomeFiles/hud/target/injectionHtml.html
https://github.com/zaproxy/zap-hud/blob/master/src/main/zapHomeFiles/hud/target/inject.js

Also I couldn't locate `pollWorker.js`.

[2019-03-08 15:20] psiinon commented on #450
Yeah, thats very out of date, we should change that asap.

[2019-03-08 15:38] psiinon commented on #450
FYI https://github.com/zaproxy/zap-hud/wiki/HUD-Startup-Flow should be much more up to date.
@dscrobonia can we just replace the Initialization page with that one?

[2019-03-08 16:31] JavanXD commented on #42
Yes you could add `Content-Security-Policy: script-src 'nonce-EDNnf03nceIOfn39fn3e9h3sdfa'`to the CSP.
And include it like:
[code]

[2019-03-08 16:42] fabianhick commented on #136
It would probably not impact performance if the `defer` functionality of the `<script>`-tag would be used.

Additionally it could be useful to add an integrity check of the injected JS.
You could also add a `crossorigin="anonymous"` in order to avoid sending credentials.

[2019-03-08 18:24] fabianhick commented on #136
I just found some other pages where I had issues with the HUD, because neither a `<body>` nor a `<head>` tag have been present on the site...

Maybe it would be an idea to have a second fallback and just try to inject it randomly or at the end of the source code?
Another way of achieving this could be an automated check whether or not the JS has been requested by the browser and if it hasn't just

[2019-03-08 18:33] thc202 commented on #136
Worth adding that to #165.

[2019-03-08 20:44] fabianhick commented on #165
I just found some other pages where I had issues with the HUD, because neither a `<body>` nor a `<head>` tag have been present on the site...

Maybe it would be an idea to have a second fallback and just try to inject it randomly or at the end of the source code?
Another way of achieving this could be an automated check whether or not the JS has been requested by the browser and if it hasn't just

[2019-03-09 11:12] Pamplemousse opened #451 "bottom-drawer's UI is broken when some data is too long"
In tables, columns have currently a fixed width.

However, when containing long data (for example, in the history tab, some `URL` can get pretty long when they have plenty of parameters), the body columns are getting "stacked" on the left, making it difficult to read.

Here is a made-up example that show the differences.

First, everything is normal.
![normal_content](https://user-images.githubuse

[2019-03-09 22:54] dscrobonia commented on #450
Thanks for pointing this out @fabianhick ! We're definitely behind on updating our docs and need to make that a prirority.

[2019-03-09 23:26] dscrobonia commented on #136
@fabianhick I **love** the idea of having several injection strategies to fallback upon with detection to see if each one worked. I think that would significantly improve our reliability story.

The injected javascript will immediately add the iframes to the target page, and those iframes need to be placed in the body. So we need the `<body>` tag to exist in the parsed DOM before we add the iframe

[2019-03-09 23:33] dscrobonia commented on #165
@fabianhick as I mentioned in #136 I love the idea of fallbacks.

Maybe we can try:
1. injecting into the start of the body as we currently do
2. injecting into the bottom of the the head with an `onDOMContentLoaded` listener
3. adding it to the bottom of source

In practice we'd actually be injecting to all three places at once everytime, and then adding detection code within the injected script

[2019-03-10 02:07] dscrobonia commented on #451
Nice find!

I am also lame in CSS so unfortunately I can't give any advice here.

I think the easiest (and most user friendly) solution would be to just truncate the url after some point. There's no reason to really need to see the whole thing from this view anyways. What are your thoughts about that @Pamplemousse ?

[2019-03-11 09:29] jaywon commented on #451
Couple discussions we have going on around the CSS at a high level for this section but maybe a happy medium for now would be to `overflow:hidden` in this view? If a user wanted to view the full URL they could select the message for the full context.

The sticky header is really a key UX feature so joining them in the same table isn't going to be feasible. Other non `table` options may exist.

[2019-03-12 15:52] dscrobonia opened #453 ""WebSocket is already in CLOSING" errors"
This is from a report in the zaproxy slack channel.

![image](https://user-images.githubusercontent.com/5150944/54214785-1ccc7f00-44a4-11e9-9eb7-5c5ccdaa0319.png)

[2019-03-14 01:03] CollegiateComputer opened #454 "HUD components don't load on Chrome"
Running ZAP Weekly - cross platform version D-2019-03-11 on two Linux machines. Both running Ubuntu 18.04.2 LTS, but one uses GNOME desktop environment and the other is using KDE. Both running the same versions of java (openjdk 10.0.2 2018-07-17). On the KDE machine, the HUD seems to function fine in Firefox and Chrome, but the HUD elements only fully load on Firefox on the GNOME machine. In Chrom

[2019-03-14 01:10] CollegiateComputer commented on #454
Noticed that the following error is generated when attempting to turn break on from HUD:
[code]

[2019-03-14 08:49] psiinon commented on #454
@CollegiateComputer thanks for reporting this.
The IndexOutOfBoundsExcepption's are actually related to the ZAP desktop not the HUD, so I dont think they are related to this.
Can you look in the browser console to see if any errors are logged there?

[2019-03-14 08:50] psiinon commented on #454
Oh, and which version(s) of chrome are you using?

[2019-03-16 03:57] CollegiateComputer commented on #454
Both machines are running the same version of Chrome: **Version 73.0.3683.75 (Official Build) (64-bit)**
Below are the errors logged to the browser console when visiting a page with the HUD enabled:
[code]

[2019-03-28 05:55] dscrobonia commented on #454
@psiinon are we moving forward with this issue? Don't want to let it sit on the burners for too long. :)

[2019-03-28 08:39] psiinon commented on #454
@dscrobonia agreed, but tbh I have no idea whats going on here :/
Can anyone else reproduce this?
Any suggestions as to what could be going wrong?
I think its likely to be a HUD issue rather than a core ZAP one.

[2019-04-02 08:52] psiinon opened #464 "Tool to show security.txt file"
Add a tool which detects a security.txt file (as per https://securitytxt.org/).
This could be a standard side tool which is enabled when the file is present on a site (with suitable icon change) and when clicked shows the relevant info, providing clickable links.
This will make it easier for researchers to find the relevant bug bounty program that they should submit any issues with the site to.

[2019-04-02 09:03] psiinon commented on #464
While this could use a ZAP ascan rule I think in this case it would be better if the tool just tried to access the security.txt file directly (if enabled) so that users wouldnt need to run the ZAP spider/active scanner in order to detect it.

[2019-04-02 14:21] psiinon commented on #464
Should probably be a bit more generic, eg to also support https://www.contributejson.org/ and any other similar schemes

[2019-04-12 07:59] psiinon commented on #199
So https://bugzilla.mozilla.org/show_bug.cgi?id=1438945 says its fixed in Firefox 65 - we should double check to see if this is all ok now...

[2019-04-21 20:52] dscrobonia commented on #199
How exciting! I'll need to investigate...

[2019-04-22 10:33] nothingismagick opened #468 "Don't forget to turn off Vue eventBus listeners."
You are making awesome use of the event listeners (e.g. here: https://github.com/zaproxy/zap-hud/blob/develop/src/main/zapHomeFiles/hud/display.js ), but best practice would suggest cleaning up your eventBus listeners with the beforeDestroy hook and calling `eventBus.$off`.

For your reference: https://vuejs.org/v2/api/#Instance-Methods-Events

[2019-04-23 07:33] psiinon commented on #468
@nothingismagick thanks for letting us know! Most of us working on the HUD are pretty new to modern JS UI's so all feedback is much appreciated. So are PRs - so if you fancy showing how it should be done then please go ahead :D

[2019-04-23 07:36] nothingismagick commented on #468
I absolutely love the HUD and am happy to contribute. Will make a PR las soon as I clean my plate - and plan on integrating this into the Quasar Framework's app extension family within our testing harnesses.

[2019-04-23 07:42] psiinon commented on #468
Great! FYI we have a Google Group for the HUD here: https://groups.google.com/group/zaproxy-hud and a weekly Google Hangout - just let us know if you might like to join that and we'll send you an invite :)

[2019-04-23 10:51] nothingismagick opened #469 "ES6, Linting and Code Style in Vue"
So, I've started adding the beforeDestroy hooks per https://github.com/zaproxy/zap-hud/issues/468 , but have noticed that you aren't using any enforced linting or canonical JS style. This means that there are a mixture of tabs and five spaces etc. It's hard for me to know what is canonical.

And after seeing the really awesome PR I had to  https://github.com/zaproxy/zap-hud/pull/459#pullrequestrev

[2019-04-23 10:51] nothingismagick commented on #468
Closing this because of this issue I just linked and this https://github.com/zaproxy/zap-hud/pull/459#pullrequestreview-229465179 I just did.

[2019-04-29 07:32] psiinon commented on #468
Reopening as its currently an issue and we dont know when #459 will be merged...

[2019-04-29 07:35] psiinon opened #472 "Add progress to tutorial"
Feedback from someone whos been playing with the HUD:

I can see the value in this and should be easy to do...

Plan to look at this myself unless anyone else fancies implementing it :)

[2019-04-30 21:36] nothingismagick opened #473 "xml and zip is not really wellformed"
I am using this to pull the latest version for the quasar app-extension:
https://raw.githubusercontent.com/zaproxy/zap-admin/master/ZapVersions.xml
Specifically I find the `<url>` and `<file>` confusing.
[code]

The file name is: ZAP_WEEKLY_D-2019-04-29.zip

But its in the `<daily>` block.
Then when I unzip it, the folder is named `ZAP_D-2019-04-29`, so I need to split the name and strip out the W

[2019-04-30 22:24] nothingismagick opened #474 "daemon mode always crashes"
I think that this may be due to something wrong with Firefox - but the error output is a little mysterious. If I don't use -daemon then it works (but I have to click through the GUI manually, and I MUST use chrome).

Is there a secret command for choosing to launch a different browser? using `-browser chrome` makes it hang...

[code]

[2019-04-30 23:14] thc202 commented on #474
Which Firefox version are you using?

That's quite old geckodriver, ZAP bundles (and should be using) 0.24.0.

[2019-05-01 07:24] psiinon commented on #474
FYI there isnt currently an option to specify Chrome, but we could add one...

[2019-05-01 08:00] nothingismagick commented on #474
Firefox 66.0.3 (on MacOS)
I am also using the freshest daily / weekly version of zaproxy from here:

https://raw.githubusercontent.com/zaproxy/zap-admin/master/ZapVersions.xml

[2019-05-01 08:04] nothingismagick commented on #474
Allowing the user of the app-extension to chooes chrome would be excellent (and important) because many Quasar devs use chrome first (and test compliance on firefox, safari etc.) Its not my preference, just something that has organically happened.

If you are thinking about this, I'd like to reference our call from last week and figure out if there is a way to collaborate with cypress and use thei

[2019-05-01 08:10] psiinon commented on #474
I've no problem with us supporting other browsers, but that will almost certainly require changes to the selenium add-on (which we use for launching the browsers).
I think we'll need to know the path to the browser executable and to the related webdriver.
@thc202 is that everything we would need (in addition to the selenium code changes)?

[2019-05-01 09:24] thc202 commented on #474
@nothingismagick the geckodriver being used is too old for that Firefox version:
https://firefox-source-docs.mozilla.org/testing/geckodriver/geckodriver/Support.html
Do you know from where that geckodriver is being added? Is that on the path?

@psiinon yes, the path to the browser binary should be enough in this case (both use ChromeDriver).

[2019-05-01 11:15] nothingismagick commented on #474
This might be coming from a global install of wdio (which probably has
outdated module deps), but I am on mobile for the rest of the day and can't
check at the moment.

[2019-05-02 11:27] nothingismagick commented on #474
So, I can't find geckodriver in my path. To whit I just installed it just now like:
[code]
So, even in that console, I still get an outdated geckodriver. I also can confirm that wdio and webdriver are not in my path either. So it seems that the geckodriver being used is coming from zaproxy.

[2019-05-02 12:23] kingthorin opened #476 "Bad Addons - Need descriptive message(s)"
I encountered this on a Kali VM this morning. I'm not sure what kind of weirdness I may have done to break them (start an update and then kill the VM while it was writing etc):

[code]

I removed ascanrulesBeta via the Marketplace, but now it doesn't show as either installed or available for installation :disappointed:  The exception doesn't display the path to the bad archive either :cry:

[2019-05-02 12:35] kingthorin commented on #474
You're using a weekly so you can check addon versions from the CLI (-suppinfo).

[2019-05-02 12:44] nothingismagick commented on #474
[code]

Found Java version 1.8.0_181
Available memory: 16384 MB
Using JVM args: -Xmx4096m
OWASP ZAP
Version: D-2019-04-29
Installed Add-ons: [[id=accessControl, version=6.0.0], [id=alertFilters, version=8.0.0], [id=ascanrules, version=33.0.0], [id=ascanrulesBeta, version=25.0.0], [id=bruteforce, version=8.0.0], [id=coreLang, version=14.0.0], [id=diff, version=9.0.0], [id=directorylistv1, version=4

[2019-05-02 13:36] thc202 commented on #474
What's the path in Options > Selenium > geckodriver? If you don't have UI, you can check in the `config.xml` file, element `selenium/firefoxDriver`.

[2019-05-02 13:41] nothingismagick commented on #474
[code]

[2019-05-02 13:45] nothingismagick commented on #474
So I can confirm:
[code]
Enables this on my machine.

[2019-05-02 13:52] thc202 commented on #474
OK, I see, that was picking the the geckodriver from stable ZAP home dir (which is indeed older) not dev.

[2019-05-02 13:52] nothingismagick commented on #474
That must be leftover from the MacOS install that I performed last week. After purging ZAP and ZAP_D everything works as expected.

[2019-05-02 14:07] nothingismagick commented on #474
So instead of creating another issue (which i can do if you prefer) - I am still having problems with the harness. Now I can get firefox to open (yay) but it will not immediately go to the route I want:

[code]

The quickurl is not propegated. If I then manually visit localhost:8080, the HUD will not show up.

If I remove the quickurl flag, I can then manually enter the address - and the HUD will

[2019-05-02 14:12] kingthorin commented on #474
quickurl is a scan flag it has nothing to do with your browser. (Do it in UI mode and you'll see what it does. Or review this: https://github.com/zaproxy/zap-core-help/wiki/HelpAddonsQuickstartCmdline)

[2019-05-02 14:13] nothingismagick commented on #474
Thankyou! So is there a way for me to tell the HUD where to go right away?

[2019-05-02 14:25] nothingismagick commented on #474
Because it looks like i should be able to place that here:
[code]

aka `-new-window http://localhost:8080`

[2019-05-02 14:33] kingthorin commented on #474
Not that I'm aware of.

[2019-05-02 17:24] kingthorin commented on #236
(D-2019-04-29 on Kali, w/ Firefox `dom.serviceWorkers.enabled;true`)

I finally went through this today. At the scope "page" I had to go previous/next to get it to recognize that I'd set the scope.

At the end when the "Next" button disappears there needs to be a close button or something....for my 2 cents (otherwise users will endup clicking "Previous" as it gets shifted over). Or the ending text

[2019-05-02 20:02] nothingismagick commented on #474
I'll close this issue because my problem was solved by symlinking the up to date geckodriver into the manually installed macOS version of zap - or removing the manually installed version entirely.

[2019-05-02 20:03] #474 closed

[2019-05-02 23:38] nothingismagick opened #478 "Feature request: open geckodriver / chromedriver with a CLI specified URL:PORT"
While resolving Issue #474 I discovered that there is no predetermined way to choose the driver or the port from the CLI.

So, if I could have my way, I would love the command to be something like:
[code]

I can verify, however, that my automated installation process for Quasar 1.0 works (at least on my Mac): https://github.com/quasarframework/quasar-testing/releases/tag/v1.0.0-beta.5

[2019-05-08 09:07] nothingismagick commented on #478
Any idea if this will could possibly land before tomorrow's meeting? Would love to demo the Quasar integration I've set up here:

https://github.com/quasarframework/quasar-testing/blob/dev/packages/security/src/install.js#L97

[2019-05-08 09:09] psiinon commented on #478
I'm trying to focus on ZAP things right now (which includes the HUD) so I'll see if I can make it so :)

[2019-05-08 14:35] #478 closed

[2019-05-08 14:46] nothingismagick commented on #478
Can you give me an ETA on when I can pull he weekly with these changes?

[2019-05-08 14:49] psiinon commented on #478
We've generated this weeks weekly, so the next one is planned for next Monday.
If you're ok installing java and gradle we can talk you through running the HUD in a dev version of ZAP with the latest changes...

[2019-05-08 15:17] nothingismagick commented on #478
No point. It's not about me - it's for the automation of the app extension.
Then I'll wait to present it to you until it's available in the weekly.

[2019-05-09 07:53] #468 closed

[2019-05-10 13:47] psiinon opened #484 "Rename HUD frame names"
The current HUD frame names are too generic and could easily clash with existing ones on the target site, eg 'management', 'left-panel' etc
Just adding something like 'zap-hud-' to the start of all of them should do the trick...

[2019-05-10 13:49] nothingismagick commented on #484
Great point.

[2019-05-15 10:27] #373 closed

[2019-05-15 11:19] psiinon opened #487 "Replay in Console broken"
In the firefox console:
[code]

[2019-05-15 16:10] kingthorin opened #488 "New tool idea - Call Graph HUD Edition"
It occurred to me the other day that there are some good tools for doing graphs/webs in JS (ex: d3js) and that perhaps someone could implement a HUD'ified version of Call Graph (https://github.com/zaproxy/zap-extensions/tree/master/addOns/callgraph) leveraging one of those.

[2019-05-15 16:48] nothingismagick commented on #488
As fate would have it I'm working with D3 right now. Wouldn't be that hard
to spec out, but time is tight at the moment...

[2019-05-15 19:15] kingthorin opened #490 "HUD/Tutorial Enhancement Grab-bag"
Based on email feedback. (These can be broken into different tickets if/when needed.)

^ That was is similar to items mentioned [here](https://github.com/zaproxy/zap-hud/issues/236).

^ It seems likely that someone commented out an entire file. That's more of a ZAP/pscan issue than HUD/Tutorial.

[2019-05-15 20:00] dscrobonia commented on #490
Thanks @kingthorin for writing this up! I'm planning on splitting up some of these into ticktets later, so I check these off when I do that :)

[2019-05-16 09:58] psiinon commented on #487
Fix is simple, just looking to include a task and hopefully unit test for this functionality...

[2019-05-16 13:10] #487 closed

[2019-05-17 09:10] #484 closed

[2019-05-20 12:11] #184 closed

[2019-05-31 21:13] thc202 commented on #359
Removed from 0.4.0, not on the plans for this version.

[2019-05-31 21:13] thc202 commented on #354
Added to 0.4.0.

[2019-06-01 20:12] sbzo opened #503 "HUD Errors"
Hi team,

I installed a weekly fresh install of ZAP and HUD. I'm getting this error and I don't know why:

[code]
<img width="874" alt="Screenshot 2019-06-01 at 2 54 01 PM" src="https://user-images.githubusercontent.com/28350322/58753088-9f4f5400-847f-11e9-9262-c1614bd5f077.png">

Thanks for any help.

RLobo.

[2019-06-02 02:11] dscrobonia commented on #503
Hey @sbzo ! Is the HUD working and loading otherwise? Or is it not working and also spewing that error?

We need to clean up some of our error messages. Sometimes that error is actually more of a warning. In this case it looks like you're getting it a lot so that may cause performance issues even if everything else was working.

Also, per chance did you have the browsers developer tools open when

[2019-06-02 15:03] sbzo commented on #503
Hi David,

When HUD is launched from zap directly, shows this errors and the history is not scolling to the end as your presentations.
but in my firefox with the rest of plugins is not working at all, and I don't understad why. That is why I'm using launching from ZAP.

But the rest of features are working good.

Thanks for your hard work, this project have future.

Best regards,

RLobo.

[2019-06-02 17:44] psiinon commented on #354
Does this need reopening until it works correctly in Firefox?

[2019-06-04 13:54] psiinon opened #506 "Add forced browse tool"
Request from the Open Security Summit to add a forced browse tool - this is something that someone was getting developers to use in burp.
The HUD would probably be a much better interface for then but is currently missing the forced browse option.
Note that the forced browse will need API support for this: https://github.com/zaproxy/zaproxy/issues/2849

[2019-06-14 02:59] ztgrace commented on #440
I'd like to add an additional scenario to this issue, but we can split it off if you feel it's appropriate.

Here's the scenario I've just run into:
* App is running on port 8080 without TLS
* Loading the page with HUD enabled results in a 302 redirect to port 8080 with TLS enabled
* Site does not support TLS over 8080 and fails to load

Disabling HUD fixes the issue.

While I do like the idea of

[2019-06-14 07:42] psiinon commented on #440
@ztgrace we have to upgrade the connection to https in order for the HUD to work. However ZAP should handle this internally even if the application doesnt. It looks like in your case ZAP isnt handling it correctly. Are there any errors in the zap.log file? https://github.com/zaproxy/zaproxy/wiki/FAQhelp#check-the-log-file

[2019-06-14 07:44] psiinon opened #520 "Document the https upgrade functionality"
We have to upgrade http connections to https in order for the HUD to work.
Where apps dont support https ZAP 'fakes' it internally.
We need to document this, either in the wiki or (even better?) in the tutorial.

[2019-06-14 07:45] psiinon commented on #520
Ha! there already an open issue :P #439

[2019-06-14 07:45] #520 closed

[2019-06-15 14:59] #223 closed

[2019-06-16 16:04] rdesfo opened #522 "HUD spider doesn't show correct status"
When running spider from HUD the status of the spider stays at 0%.

![Screenshot from 2019-06-16 11-50-42](https://user-images.githubusercontent.com/284815/59566473-b751d680-902e-11e9-8538-4683d5cad572.png)
![Screenshot from 2019-06-16 11-51-04](https://user-images.githubusercontent.com/284815/59566478-c0db3e80-902e-11e9-802c-e60d4cacb5cd.png)

[2019-06-16 18:35] Borim7 opened #523 "HUD is not displayed on the HUD tutorial page"
I have installed ZAP the first time and was surprised by the HUD tutorial :)

Sadly the HUD is not displayed on the tutorial page: http://127.0.0.1:60144/Frames
When something should be displayed in the HUD only some red text is displayed, but the HUD itself is not visible.
Due to this bug the tutorial task can not be completed and I have to disable the tutorial tasks to read all pages.

On regula

[2019-06-16 19:02] psiinon commented on #523
@Borim7 Are there any errors in the Firefox console.log?
I must admit that I've not tried the HUD with Firefox portable. Can you try it with the full versions of either Firefox or Chrome?

[2019-06-16 19:05] psiinon commented on #522
@rdesfo are there any errors shown in the firefox console?

[2019-06-16 19:27] Borim7 commented on #523
1 warning and 1 error are reported in the firefox console
[code]

I have testes with the normal firefox and the behaviour is the same. The weird thing is, that it does not matter if I configure firefox to use the ZAP proxy or not.
Although I did not configure any exceptions for using the proxy.

[2019-06-16 19:35] psiinon commented on #523
Weird :/
Do the HUD controls get shown when the HUD splash screen is shown?
Have you changed any of the HUD options?
Are there any errors in the zap.log file?
https://github.com/zaproxy/zaproxy/wiki/FAQhelp#check-the-log-file

[2019-06-16 20:13] Borim7 commented on #523
I do not know. The splash screen was displayed once and after it I enter the tutorial over the HUD settings.
In the HUD options I only disabled the tutorial tasks. All other option are unchanged.
I also tried reset HUD options to default and nothing changed.

In the log file a lot of
[code]

are visible and multiple java exceptions:
[zap.log](https://github.com/zaproxy/zap-hud/files/3294522/zap.lo

[2019-06-17 08:41] thc202 commented on #523
If you are starting Firefox yourself (instead of starting from ZAP) you might need to set the preference `network.proxy.allow_hijacking_localhost` to `true`, with newer Firefox versions localhost is not proxied without that set.

@psiinon we could use zap domain to avoid this, e.g. `http://zap/hudtutorial/` ?

[2019-06-17 11:18] psiinon commented on #523
@thc202 we could do, but are we sure this is the problem in this case? If Firefox wasnt proxying through ZAP then we shouldnt even get the HUD splashscreen :/

[2019-06-17 11:31] thc202 commented on #523
I think it is based on the report, the HUD was shown for other addresses/domains just not the tutorial (which is using localhost/127.0.0.1).

[2019-06-17 11:33] psiinon commented on #523
Ah, I missed that. Yeah, we should look at changing it to use something other than localhost / 127.0.0.1

[2019-06-17 17:20] Borim7 commented on #523
After enabling `network.proxy.allow_hijacking_localhost` the HUD is working on the HUD tutorial page.

[2019-06-18 15:50] halfluke opened #525 "The HUD fails to connect to ws endpoints from a domain upgraded to https"
Any website, even one that should be available in plain http, is automatically redirected to https when the Extensionhud extension is enabled.
This did not happen in version 2.7.0 and it causes problem with websockets which work on http

Steps to reproduce the behavior:
1. Open firefox.
2. Configure it to use zap proxy
3. Go to any website available in http (I won't mention a specific one here)
4.

[2019-06-18 18:50] ztgrace commented on #440
No relevant errors in the `zap.log` that I can see.

I did a little more investigation on the endpoint. It looks like it does support TLS on that port too from a web server perspective, however the app is not being served when accessing over TLS. So I think ZAP interprets the successful handshake as a successful upgrade to TLS, but it's an unusable state because of the misconfiguration of the appl

[2019-06-18 19:20] halfluke commented on #525
ah thanks.

Actually I was playing with damn vulnerable websockets, docker version

you start it with docker run -d -p 80:80 -p 8080:8080 tssoffsec/dvws
you have to put dvws.local in the host file (otherwise websockets do not work)
When finally I had everything working, kali updated ZAP to 2.8.0 and it stopped working again.
(I configured ZAP with port 8081 as a proxy listener)

What happens is th

[2019-06-19 08:19] psiinon commented on #525
@halfluke thanks - having an example failure case makes this much easier to look into :)

[2019-06-19 08:21] psiinon commented on #440
Yeah, we could have an option for ZAP to handle the https comms even if a site appears to support it.

[2019-06-20 10:15] psiinon commented on #360
@jaywon have you made any progress on this?

Having looked at it I think its non trivial :/ But we still really want this functionality.
Currently the requests and responses are text areas, which cant typically have highlighting applied to.
There are some options:

- Faking the textarea, as per https://stackoverflow.com/questions/12831101/format-text-in-a-textarea - but I'm worried that will cause

[2019-06-20 14:35] psiinon opened #528 "HTTP Req/resp dialog - add more details"
Add more info to the HTTP req/resp dialog, eg:

- timestamp
- message size

Anything else anyone can think of?

While these might be in the History tab they wont be accessible when displaying requests associated with alerts raised by active scanning.
We've had a question re a timing attack - theres currently not enough info shown to explain why that was considered to be a vulnerability

[2019-06-21 19:31] dscrobonia commented on #523
Great debugging team, we should record a note of this somewhere and then close this out.
@psiinon where would be a good place to capture this?
@Borim7 would you be good with us closing this after we record the issue?

[2019-06-21 19:35] dscrobonia commented on #439
We should also include a note about this in whatever documentation we end up building up.

[2019-06-21 19:35] dscrobonia commented on #525
Thanks for the clean report @halfluke ! Hopefully we can debug that one. We're also tracking the need to add documentation about this proces in #439 !

[2019-06-21 22:05] dscrobonia commented on #360
I just briefly scrolled over this. I think this is the way to go. We can abstract it out to a new component, HighlightableTextArea or something. Shouldn't be an issue with maintenance as long as we make the component robust for this use case.

[2019-06-23 08:41] Borim7 commented on #523
Yes, it is sufficient in my eyes. It is your decision, if you want to do more e.g.

[2019-06-27 07:40] psiinon opened #530 "Direct AJAX calls not getting upgraded to https"
As per https://groups.google.com/d/msg/zaproxy-users/byxt8JvbkZU/PNd6ASRBBAAJ

This could cause problems with lots of modern web apps, so we should investigate this asap.

[2019-06-27 07:44] psiinon commented on #530
Note: we have tested with JuiceShop locally and that seems to work well.
But it could be thats using relative paths, we should test with apps that use absolute paths, including the http:// part ...

[2019-06-27 14:50] psiinon commented on #530
Tried a very simple test locally, and when the ajax call specified the http url then the app failed when the HUD was enabled with: `Blocked loading mixed active content “http://localhost:8080/bodgeit/tests/ajax_info.txt”`

[2019-06-27 14:52] psiinon commented on #530
One option would be to replace all of the http:// strings with https:// ones for the domains that we know we have upgraded.
Would a simple global search and replace on the body work in most cases?

[2019-06-27 15:03] thc202 commented on #530
We would have to replace in "all" files (e.g. JavaScript). HSTS would be better as we wouldn't need to manually change the schemes (assuming the target is the same).

[2019-06-27 15:09] psiinon commented on #530
Oooh, I like that idea :)
I'll give it a try...

[2019-06-27 15:11] thc202 commented on #530
That has its problems too, like forcing to HTTPS even if you are no longer proxying through ZAP (it would be fine with launched browsers).

[2019-06-28 00:04] wonboyn commented on #530
Hi @psiinon

The specific error I et in the browser console is:
"Blocked loading mixed active content..."

The error is happening on the page used for authentication when a Javascript library loaded on the page attempts to make a call to the server as part of the page load.

[2019-06-28 07:02] psiinon commented on #530
Thanks @wonboyn - is the http:// server url hqardcoded in the HTML? If so then we have a plan that should fix that...

[2019-07-01 14:14] caesium55ds commented on #523
I ran into this problem the other day and it was killing me.  The way I was able to get around it is to open the browser you have configured to use ZAP through the ZAP console.  Opening this way will enable the HUD.  I'm pasting the screenshot.  I hope it comes through here:

![image](https://user-images.githubusercontent.com/43476799/60443327-00865680-9be9-11e9-9614-b21f0745c300.png)

[2019-07-01 16:00] #530 closed

[2019-07-02 08:49] psiinon opened #535 "Show changes in the HUD"
I suspect that most ZAP users dont read the change log.
I think it would be really useful to show the HUD specific changes actually in the HUD.
Ideally we would subtly highlight these and then clear that indication when the user has looked at the changes.
Options:

1. Add a Changes page to the Tutorial
1. Add a new Changelog icon next to the gear icon at the bottom
1. Add a new Changelog item to t

[2019-07-02 11:05] ejayaraman commented on #530
Hello Simon, I am also noticing this issue. I am running a scala-play microservice locally. We have configured Chrome browser in our selenium tests to proxy through ZAP.  In ZAP 2.8.0, with HUD (0.4.0) enabled, request to localhost is converted to https and fails to load the page with the below message on the browser:

`This site can’t provide a secure connection localhost sent an invalid response

[2019-07-02 11:59] psiinon commented on #530
@ejayaraman I would recommend disabling the HUD with your selenium tests. The HUD is designed to help manual testing and could well interfere with automated tests, which is why the HUD is disabled by default when ZAP is run in daemon mode.
If it works when using the browsers are launched by ZAP but not when you use another browser then this fix is unlikely to help. Its more likely that theres a co

[2019-07-02 12:22] ejayaraman commented on #530
Thanks Simon. That helps.

[2019-07-02 13:53] JavanXD commented on #525
<img width="1351" alt="grafik" src="https://user-images.githubusercontent.com/4342160/60517953-d748f180-9ce0-11e9-8d21-1cb53fb4ac09.png">
I have the same problem running the owasp juice shop as docker container. Juice Shop is not accessible over https but zap is redirecting the page to https (`Location: https...`). This is why you can see a blank page on the left.

[2019-07-02 14:00] psiinon commented on #525
@JavanXD Thats strange, I've used the HUD against Juice Shop running in Docker many times without any problems.
The fact that JS is not accessible via https is a red herring - ZAP handles the http->https upgrade internally where necessary.
Are there any errors logged in the browser comsole?

[2019-07-02 15:45] #439 closed

[2019-07-02 17:44] JavanXD commented on #525
After trying a few things, I was able to spot the problem.
The JavaScript Files and the Stylesheets haven't been loaded correctly over HTTPS. Because I disabled to proxy them in:
<img width="718" alt="image" src="https://user-images.githubusercontent.com/4342160/60533139-2aca3800-9cff-11e9-8c61-d51a556c8370.png">
Because the scripts can't load the page keeps blank.
Example main.js:
<img width="116

[2019-07-02 18:24] psiinon commented on #525
@JavanXD #531will hopefully fix that problem, as long as you dont disable proxying for them :) Are you able to try that out?

[2019-07-03 04:44] dscrobonia commented on #535
I think this is a good idea.
- I prefer star over the plus.
- I think the changelog should be very concise and only for big feature adds. I think showing too much will give folks notification fatigue.

Is there any reason we shouldn't just use the "News" section on ZAP desktop?

[2019-07-03 07:24] psiinon commented on #535
Because thats in the ZAP desktop and not in the HUD :) We have loads of add-on and can already notify people if they are updated, I dont think we want to use the ZAP News section for this.

[2019-07-03 13:05] psiinon commented on #525
Re the original problem with dvwa this is still a problem - it fails with a security error trying to access  `ws://dvws.local:8080/`
We'll probably need to rewrite the ws:// -> wss:// and handle the ws -> wss upgrade as well...

[2019-07-03 13:08] psiinon commented on #525
Changed the title to make it more specific and we'll aim to fix this in the next version

[2019-07-03 14:04] #535 closed

[2019-07-03 14:39] JavanXD commented on #525
I never had a problem with ws and as long i don't disable proxying it works well. In my case it was just wrong configuration.

[2019-07-03 15:54] psiinon commented on #525
In the case of dvws it is a bug, but I have a (not _too_ nasty) fix for it.
I'll add a pref for it as well in case it break other cases.

[2019-07-03 19:45] halfluke commented on #525
hi, so have you figured out if it's a problem with zap (hud) or with the dvws app? I'm following the discussion but I'm not sure I understand. You mentioned that the upgrade from http to https is handled internally by zap, but if a website cannot handle https, it won't be displayed. Do we still have to disable the HUD as you said in your first reply? Sorry about my confusion

[2019-07-04 08:51] thc202 commented on #525
It's a problem with the HUD. Disabling the HUD was just a workaround, once this is fixed dvws will work properly with the HUD enabled.

[2019-07-04 11:02] psiinon opened #539 "Default to showing alerts for different subdomains"
At the moment the HUD only shows alerts for the exact domain being explored, eg www.example.com
We should have an option, default true, for also showing alerts for other subdomains, eg test.example.com

[2019-07-04 11:15] halfluke commented on #525
ah ok thanks. So are they actually 2 related but different issues? One is the http to https upgrade and one is  the ws to wss upgrade?

[2019-07-04 13:34] #525 closed

[2019-07-04 13:35] thc202 commented on #525
There's only one (afaik), the ws to wss upgrade (http to https should be working fine).

[2019-07-11 06:17] dscrobonia commented on #503
Hey @sbzo ! Circling back on this. I believe the history scrolling should be fixed in #548 . : )

The errors and plugins not working are pretty strange though. :/ We need to clean up the error message and should investigate the plugin issues.

Thanks for your kind words and feedback! All the error reporting helps a lot!

[2019-07-15 17:58] dannaksan12 opened #552 "the HUD is blocking view of lower tabs"
we are using a tool to switch between experiment and toggle states on the website which is being found at the bottom of the browser. this is being covered over by the HUDs history and websockets tab. It is making testing more difficult. Is there a way to hide/unhide the lower HUD tab when needed?
Browser used: Chrome on Windows 10.

[2019-07-16 08:03] psiinon commented on #552
Thanks for reporting this.
@dannaksan12 is the tool you are using is always at the bottom of the page when the HUD isnt being used? What happens when you expand the HUD lower tabs? Is it completely hidden by them?
If thats the case then we would need to hide the HUD lower frame.
One option would be to resize it to just show the HUD / config buttons on the bottom right when HUD button is pressed.
I

[2019-07-16 08:54] psiinon opened #553 "Flag changes in the HUD"
Follow up from #535
This issue is for flagging the changes in the HUD UI.
I've tried little plus and star icons but unfortunately I dont think they are very noticeable :(
![gear-plus](https://user-images.githubusercontent.com/1081115/61280235-d079ae80-a7b7-11e9-8661-4c16bc4ba65c.png) ![gear-star](https://user-images.githubusercontent.com/1081115/61280236-d1124500-a7b7-11e9-9ec6-c929c478d985.png)
I

[2019-07-16 12:40] psiinon commented on #553
2 new attempts - I think we might need the bigger one for it to be noticeable:
![gear-exclamation](https://user-images.githubusercontent.com/1081115/61295010-68d35b80-a7d7-11e9-968a-8a4f43e2b685.png) ![gear-exclamation2](https://user-images.githubusercontent.com/1081115/61295011-696bf200-a7d7-11e9-935c-d54e2ef28443.png)
I'm now planning on showing this for both the changelog and the tutorial - the

[2019-07-16 14:41] dscrobonia commented on #552
Ah that would be nice. so that the Hide button hides the side frames and pulls the bottom bar into one corner. That would be a good addition to that feature.

On top of that, however, we should see if there is any way we can better display the bottom bar so that its not covering things. I don't think it will always be possible, but there may be some more things we can do to the target window.

[2019-07-16 15:04] kingthorin commented on #553
I like the big red exclamation mark.

[2019-07-16 17:19] dannaksan12 commented on #552
@psiinon it will always be at the bottom and even if its not expanded it is still covering the tool completely so there is no way to use it.
It would be really good if it could be resized similar to the side panel - especially if someone needs to test the footer for whatever reason as I would suspect that would be covered by the HUD too.

[2019-07-17 15:53] psiinon commented on #553
think I'm making good progress:
![config-new](https://user-images.githubusercontent.com/1081115/61390822-c8a33280-a8bb-11e9-8a18-9d4b5f937fd9.png)
![Tutoria-front-new](https://user-images.githubusercontent.com/1081115/61390823-c8a33280-a8bb-11e9-850f-283881073ba3.png)
![tutorial-index-new](https://user-images.githubusercontent.com/1081115/61390824-c8a33280-a8bb-11e9-8de6-8ae47e2cb1b9.png)

[2019-07-17 15:54] psiinon commented on #553
the icons will all have hoverovers, eg "New content added"

[2019-07-17 15:59] kingthorin commented on #553
Nice!

[2019-07-18 15:11] psiinon commented on #26
OK, we should really revisit this.
Lets go with https://standardjs.com/ since it has less configuration and auto fixes.
Any objections?
@dscrobonia @thc202 @kingthorin anyone else?

[2019-07-18 15:17] kingthorin commented on #26
Seems fine to me.
It comes with a [recommendation](https://github.com/zaproxy/zap-hud/issues/26#issuecomment-443993383), and requires little to no config.

[2019-07-18 15:29] Pamplemousse commented on #26
I remember @dscrobonia using [`xo`](https://github.com/xojs/xo).
There was an issue about chosing a style guide already: #24 .

[2019-07-18 22:56] dscrobonia commented on #26
Oh ya! Thanks for the reminder @Pamplemousse . I forgot I had already configured a linter 😅 . @psiinon if you run `npm run lint`  `xo` will start linting.

You can also run `npm install --global xo` to install xo. And then run `xo --fix` to do the automatic fixes.

![image](https://user-images.githubusercontent.com/5150944/61497534-9d304e80-a974-11e9-8757-bf56f3542029.png)

[2019-07-18 22:57] dscrobonia commented on #26
Running the automatic fixes takes us down to just 1000 errors. haha.
![image](https://user-images.githubusercontent.com/5150944/61497578-c51fb200-a974-11e9-9f52-36ec4bfa0725.png)

[2019-07-24 07:09] #553 closed

[2019-07-24 12:54] psiinon commented on #26
So how do we get linting and formatting applied to the HUD JS code?
TBH I dont really mind which one we use, as long as we use something.
@dscrobonia can you submit a PR? I dont think we need zero errors, but we do want the code formatted and to be able to see the lint errors.

[2019-07-24 13:28] psiinon opened #562 "Existing tools available to add after a reset"
If you click on one of the HUD green plus icons then a list of the unused tools should be shown.
After a HUD Reset then all tools are shown.
Prior to a reset tool configs look like:
`active-scan:"{"name":"active-scan","label":"Active Scan","data":"Start","icon":"flame-grey.png","isSelected":true,"panel":"rightPanel","position":3,"isRunning":false,"runningTabId":"","runningScope":[],"scanid":-1}"`

[2019-07-25 09:00] psiinon commented on #552
Agreed - I think we need to hide the lower tabs when we hide the HUD.
I have a poc that does this, but its definitely not robust enough for a PR yet ;)

[2019-07-29 12:44] thc202 opened #567 "HUD side frames visible when they shouldn't"
The HUD side frames might still be visible even if the option to hide them is enabled.

I can reproduce the issue by refreshing the same page multiple times, once in a while the side frames are still shown.

[2019-07-29 12:46] psiinon commented on #567
For info I havnt been able to reproduce this, so it could be a system dependant timing issue :/

[2019-07-30 10:42] psiinon commented on #26
I've just tried both of them. When Xo is set to use prettier then they both so essentially the same thing.
The only obvious difference is that Xo has a ton more options .. but I'm not sure thats a good thing, I like the simplicity of StandardJS - we just use it as is. But in the end I dont really mind, I'd just like it applied asap.
I'm happy to submit a PR but if I do it will probably be for Stan

[2019-07-30 11:58] knuckerr commented on #440
same issue here the site wont load because the site does not support TLS and when the HUD is enable the page don't load when is disable everything is fine

[2019-07-30 12:02] psiinon commented on #440
@knuckerr have you got the latest version of the HUD?
The HUD should handle the TLS side even if your site doesnt. The latest version of the HUD has some fixes in, but if these dont work then some more info would be appreciated, such as if there are any errors in the zap.log file or in the browser console.

[2019-07-30 12:12] knuckerr commented on #440
this happen when i install the lasted version of the HUD the previous version worked fine !.
here is the zap.log file
[zap.log](https://github.com/zaproxy/zap-hud/files/3446677/zap.log)

[2019-07-30 12:21] psiinon commented on #440
Thats weird, and not what I expected at all :(
None of the errors in the zap.log file or those browser console message look relevant.
Can you tell why the site wont load? Eg via the browser network tab?

[2019-07-30 12:26] knuckerr commented on #440
in the browser network tab everything is fine but now i look in the console log again and i catch a new error `15:23:29 GMT+0300 (Eastern European Summer Time) ERROR errorHandler: Error: Could not find any clients for frameId: drawer
	 NoClientIdError@https:    https://zap//zapCallBackUrl/5620533657504872500?name=utils.js 14:4
	 messageAllTabs    https://zap//zapCallBackUrl/5620533657504872500?nam

[2019-07-30 17:47] bkimminich commented on #26
I don't know Xo but I can vouch for. StandardJS producing some really pretty code and *no nasty semicolons* by default! 👍

[2019-07-31 07:23] #552 closed

[2019-07-31 13:09] psiinon commented on #119
@dscrobonia this is fixed isnt it?

[2019-08-01 00:14] jaywon commented on #26
I'd like to just caution, and not speaking from a very personal point of view but just experience in enforcing opinions that StandardJS and enforcing those opinions can have side effects, and no semi colons is very much an opinion that does have some side effects people must know about.

Not my intent at all to debate that as the purpose of this thread (nor is it a personal pov per se), but someth

[2019-08-06 06:30] dscrobonia commented on #119
I think this was kept around to verify that the serviceworker changes in firefox were working. I still haven't done that.

[2019-08-14 09:58] psiinon opened #581 "Support iframes"
The HUD does not currently show alerts or hidden fields (or comments) in iframes.
This is because the injected javascript only runs on the top frame.
Support for iframes would involve running similar injected code in the iframes and cascading commands from ZAP into them.
This might be non trivial, especially if the iframes are on a different domain :/

[2019-08-14 10:01] thc202 commented on #581
Duplicate of #138?

[2019-08-14 10:08] psiinon commented on #581
Ugh, did a search but didnt find that for some reason :P

[2019-08-14 10:08] #581 closed

[2019-08-21 12:48] fedorusov opened #585 "HUD breaks request filters(exclude from proxy server)"
When enabled, I can't filter requests from WebGoat internals, but after disabling and reboot everything works just fine. I have experienced this problem on a previous machine too, so it should be HUD-related problem

[2019-08-21 12:53] kingthorin commented on #585
Could you please provide the steps you're following when the issue occurs?
When you say "reboot everything" do you mean the system or just closing and opening Zap?

[2019-08-21 13:16] fedorusov commented on #585
reboot just zap, `everything` is related to `works just fine`

Steps:
1) Open zap with HUD enabled(Toolbar button pressed at start)
2) Connect to WebGoat and login (so now it starts sending internal requests of lessonmenu and overview)
3) Try to exclude it via `Right-click->Exclude from->Proxy`
4) Experience disappointment
4.5) Toggle toolbar button and reopen zap

5) Open zap with HUD disabled
6)

[2019-08-21 13:28] thc202 commented on #585
I guess this has to do with the HTTPS upgrade, once the HUD upgrades the requests ZAP (the proxy) will see HTTPS not HTTP (which is most likely what has been excluded).

[2019-08-28 10:51] psiinon opened #590 "Show/Enable (and comments) tool not updated when added"
The show/enable tool (and the new comments one) is not updated when added to the HUD.

[2019-08-28 11:00] psiinon commented on #590
@dscrobonia thoughts on how this should work?

[2019-08-30 15:35] dscrobonia commented on #590
The way buttons get their data, label, icon set when they're newly added to a panel is by pulling what has been saved/cached in indexedDb. In the case of showComments, there is nothing there for it to pull out because the count data is not being stored in indexeddb, but locally in memory "per tab".

[Here is what happens](https://github.com/zaproxy/zap-hud/blob/develop/src/main/zapHomeFiles/hud/ut

[2019-08-30 15:49] psiinon commented on #590
@dscrobonia so how about we add a callback when a tool gets added to a panel?
Then the tool can do any extra things it needs to do...

[2019-08-30 15:54] dscrobonia commented on #590
that is what the `getTool` function is supposed to be for, and that is used when the tools are loaded in the panel. Seems like it would make sense to call that function as well when we add a button to the panel... Should be easy to do!

btw I'm not sure that leaving the comment variables in memory works between FF & Chrome. Per the RFC here is only supposed to be a single serviceworker process / b

[2019-08-30 15:56] dscrobonia commented on #590
I think running this function (https://github.com/zaproxy/zap-hud/blob/develop/src/main/zapHomeFiles/hud/panel.js#L172) at this spot (https://github.com/zaproxy/zap-hud/blob/develop/src/main/zapHomeFiles/hud/panel.js#L188) should do the trick!

[2019-09-10 00:24] michaelgabrielinfosec commented on #335
Hey psiinon, just want to double-check before I start contributing.

The basic functionality for this feature would be to have a button that, when clicked, would display some kind of menu containing a list of all the installed scripts and have some kind of toggle to enable/disable each of them.

If that's correct, would it be alright to place the initial button on the "Select Tool" menu underneath

[2019-09-10 00:59] shamashel commented on #335
Any requirements regarding which scripts should be displayed (ex: don't display scripts with type hud)? Also, should we display their entire name as per API (ex: "tools/spider.js") or try to parse out the text between the last instance of a slash and first instance of a period?

[2019-09-10 01:20] shamashel commented on #335
Am I correct in assuming we should leave out any scripts with an engine of "Null" or that do not have an "enabled" value?

[2019-09-10 07:18] psiinon commented on #335
@shamashel yeah, that sounds reasonable.
Do you fancy working on this?

[2019-09-10 12:04] shamashel commented on #335
Definitely.

[2019-09-10 12:08] psiinon commented on #335
Great - I've assigned it to you :) Let us know if you have any questions.

[2019-09-10 12:24] thc202 commented on #335
Why not include scripts with null engine?

[2019-09-10 12:36] shamashel commented on #335
Scripts added by users should always have an engine of either Oracle Nashorn or Mozilla Zest and an "enabled" value of true or false. On the flip side, all scripts for zap-hud have both a null engine and undefined "enabled" value. Not including scripts that have either a null engine or undefined "enabled" value would mean that only user scripts are displayed.

Please correct me if I'm wrong here,

[2019-09-10 12:49] psiinon commented on #335
We also support Python, Ruby and Groovy scripts via add-ons on the Marketplace.
But they will all have an 'enabled' value is relevant.

[2019-09-10 12:53] thc202 commented on #335
If you don't want to show HUD scripts (which makes sense for this tool) you can just ignore the ones with `hud` type. There are other script types with null engine that are added by the user and can be enabled.

[2019-09-10 14:23] shamashel commented on #335
Cool, didn't realize other languages were supported. Thanks for the info! I'll filter on enabled just in case there are other builtin scripts without the `hud` type.

[2019-09-11 23:57] shamashel commented on #335
I've added in the tool & right-click to choose script functionality on my fork. Going to work on the left-click to enable/disable next.

Quick question: when the user first adds the tool to a panel, should it display a modal to select the initial script **before** being added to the panel, or should it display said modal after the user left/right clicks on the tool (in the panel) for the first tim

[2019-09-12 06:46] psiinon commented on #335
I'm happy with the modal being displayed after the user clicks on the tool for the first time.
The other option would probably require some infrastructure changes, so could be added later on.

[2019-09-15 00:23] shamashel commented on #335
I pretty much completed the feature, but I'm running into one last issue. Is there a way to update the tool's label on a panel? I'm currently using `utils.messageAllTabs` with `action: "broadcastUpdate"`, which appears to call the `updateButton` event in `panel.js`, but that only appears to update the `name`, `data`, `icon` and `isDisabled` properties of the tool in the GUI. Currently, I'm working

[2019-09-20 19:58] shamashel commented on #335
Should I just leave the feature as-is and make a pull request?

[2019-09-21 13:25] thc202 commented on #335
In either case feel free to open the PR (it does not need to be all finished).

[2019-09-26 08:56] jmakr0 opened #607 "HUD frame breaks automated tests"
Automated tests are broken when HUD is enabled (ZAP 2.8.0):
[code]
If I pause the execution before the submit and perform the click manually, everything is fine. Disabling HUD solves this problem, but still, that doesn't seem to be right.

[2019-09-26 09:28] psiinon commented on #607
Why are you using the HUD with automated tests?
If you run the ZAP daemon then the HUD is disabled by default for this very reason - it will break automated tests as it changes the HTML.

[2019-09-26 09:44] jmakr0 commented on #607
Well, don't question this legacy setup here ;) Thank you very much for the quick response!

[2019-09-26 09:44] #607 closed

[2019-09-26 10:50] psiinon commented on #26
Fixed by https://github.com/zaproxy/zap-hud/pull/604

[2019-09-26 10:50] #26 closed

[2019-09-26 10:59] psiinon opened #608 "Fix lint warnings"
The following rules were set to "warn" so that we could focus on more important issues, but these should all be fixed as well:

- [ ] no-negated-condition
- [ ] no-unused-vars
- [ ] prefer-destructuring
- [ ] unicorn/no-for-loop
- [ ] unicorn/prefer-includes
- [ ] unicorn/prefer-string-slice
- [ ] unicorn/filename-case
- [ ] unicorn/prefer-query-selector

The overrides are defined in https://githu

[2019-09-30 22:41] shamashel commented on #335
Which branch should I push it to? The only ones outside of the main branches available are Issue#200 and the dependabot branch

[2019-10-01 00:07] kingthorin commented on #335
Just push to origin (from your local feature branch), then open a PR.

[2019-10-01 07:31] psiinon commented on #335
Thanks for working on this @shamashel - looking forward to it :)

[2019-10-05 14:50] designitsecure commented on #71
Hello, After speaking with @psiinon I have worked on this issue and am close to submitting a PR. Thanks!

[2019-10-08 09:18] psiinon opened #621 "Remove use of innerHtml"
Re https://github.com/zaproxy/zap-hud/pull/620

- [ ] zap-hud/src/main/zapHomeFiles/hud/display.js
  * Tricky - we are injecting the HTML ZAP returns - this will require significant rework
- [ ] zap-hud/src/main/zapHomeFiles/hud/libraries/alertify.js
  * This is a library outside of our control, but one we would like to replace: #306
- [ ] zap-hud/src/main/zapHomeFiles/hud/target/inject.js
  * Thi

[2019-10-09 08:29] mozfreddyb commented on #621
If you're not against introducing a sanitizer (like DOMPurify), you could change this from
`                                window.open('').document.body.innerHTML = event.data.response;`
to
`                                window.open('').document.body.innerHTML = purify(event.data.response);`

and have the linter explicitly allow innerHTML as long as it's used in combination with dompurify.

[2019-10-09 08:34] psiinon commented on #621
I have no problem adding DOMPurify to the ZAP domain - it could definitely prove useful. We're trying to limit what we include on the target domain, but that doesnt apply in this case.

[2019-10-09 08:40] mozfreddyb commented on #621
if I were to add dompurify as a dependency in package.json - do you have a build step to move a copy to `src/main/zapHomeFiles/hud/libraries`?

[2019-10-09 08:42] mozfreddyb commented on #621
Ah, I did not see you self-assigned. Nevermind then :-) I'll modify #620 to have the linter accept dompurify as an exception

[2019-10-09 08:43] psiinon commented on #621
Yes, the HUD runtime JS is delivered by ZAP so we need it there.
And please got ahead with that change - I was going to look at the 3rd one first :)

[2019-10-09 08:47] thc202 commented on #621
Which ones are copied are tracked here:
https://github.com/zaproxy/zap-hud/blob/c1839b185616f673267e0cba5d46b9195a7a2d72/build.gradle.kts#L96-L106

[2019-10-10 14:40] francescor opened #624 ""Win.Trojan.Ace-8 FOUND" by clamscan, in code"
I just scanned my home dir for viruses, and got this output:
[code]

this is the context used
[code]

[2019-10-10 14:53] thc202 commented on #624
No, that needs to be manually installed.

[2019-10-10 15:51] psiinon commented on #624
@francescor - there you go - if you dont want these sort of warnings then dont install that add-on :)

[2019-10-10 15:51] #624 closed

[2019-10-28 16:52] #335 closed

[2019-10-28 17:39] #71 closed

[2019-11-07 17:21] shamashel commented on #411
Would it be alright if I started working on this?

[2019-11-07 17:33] psiinon commented on #411
@shamashel absolutely :)
I was thinking we would add buttons in the relevant tools bars for the tabs, but feel free to suggest anything else.

[2019-11-08 00:14] shamashel commented on #411
To confirm, when we're talking about "clearing" the tab, do you want the actual messages to be deleted, or should they just be hidden in the HUD?

If we are talking about deleting the messages; which API would you recommend using? The closest thing I found was `deleteSiteNode` in core, since deleting a node will also delete all the relevant requests.

[2019-11-08 09:36] psiinon commented on #411
Yeah, I was thinking this would just hide the messages in the HUD rather than remove them from ZAP. The HUD caches the history messages so hopefully it shouldnt be too hard.

[2019-11-14 07:28] ossie-git opened #637 "Add HUD HTTPS Warning"
So I decided to try out HUD so I installed ZAP.  The first thing I did was enable HUD and configured my browser to use ZAP as a proxy.  I tried to connect to a vanilla HTTP site on my network and by browser failed to connect which was unexpected.  No errors showed up on the terminal and the History tab was empty.  When I connected to the ZAP port using telnet, it appeared to be running.

It was on

[2019-11-14 09:05] psiinon commented on #637
@ossie-git is there any reason why you didnt click on the big 'Manual Explore' button and then use the 'Launch browser' option on the ZAP desktop?
If you do that the browser you launch is automatically proxied via ZAP and ignores cert warnings. Its much easier to get started that way.
This is kind of independent of the HUD, although the indications will be different.

[2019-11-14 09:09] psiinon commented on #637
Theres also a big 'Learn More' button that takes you to the 'Getting Started Guide' which explains this is the best option.
Apart from really annoying popups (which most people wont want) I'm not sure what else we can do.
Suggestions on a postcard...

[2019-11-15 13:46] #637 closed

[2019-11-18 22:12] manteca commented on #316
Got the same error problem.
Error message:

The exception was:
Remote host closed connection during handshake
Root cause:
EOFException: SSL peer shut down incorrectly

I disable the option 'Enable the HUD only for URLs that are in scope' and everything work again.

ZAP v.2.8.0

[2019-11-22 11:55] #378 closed

[2019-11-22 16:10] #316 closed

[2019-12-02 08:34] #235 closed

[2019-12-03 10:55] psiinon opened #645 "Typo in attack tutorial"
https://github.com/zaproxy/zap-hud/blob/29613bfbab9e18dff9377b7416cd5c41eaad4782/src/main/zapHomeFiles/hudtutorial/en_GB/AttackMode.html#L13 "is is"
Thanks Manie :)

[2019-12-09 15:56] #645 closed

[2020-01-08 20:04] scalefree commented on #258
How is this issue fixed? I'm working through the HUD tutorial & cannot even complete it because of Break being broken (as described in 245 - I tried to follow the method used there to bypass the broken Break but couldn't get it to work). If there's a workaround I can use it needs to be better documented than it is now.

[2020-01-21 10:09] psiinon opened #670 "Only in scope usability issue"
If the "Enable the HUD only for URLs that are in scope" option is selected then it can appear that the HUD is broken: https://github.com/zaproxy/zaproxy/issues/5813
We've hit this a couple of other times as well.

Possible solutions:

- Only enable this mode if something is in scope (I have a feeling this was how it was originally implemented??)
- Change the icon, eg to include a target icon
- Nev

[2020-01-21 13:38] psiinon commented on #670
Consensus (via irc) so far is one and 2 might be the best options, ie change the icon and only enable when something is in scope...

[2020-01-22 10:21] psiinon commented on #670
Have looked at only enabling scope when something is in scope but the changes got nasty - lots of edge cases when switching between http & https. So not planning on doing that at this stage, I think the 2 other changes fix this anyway.

[2020-01-22 10:56] #670 closed

[2020-02-23 22:41] mavensecurity opened #690 "ZAP HUD cannot Active Scan POST requests"
# Problem
Active Scan for POST via HUD either does nothing (on Windows) or throws error (on Linux).

# Steps
Sample target: https://php.testsparker.com/auth/login.php
Browser is Firefox launched via HUD in Zap.
Using ZAP History to find the login POST and click Active Scan.

# Result for Windows
Nothing happens.  Viewing ZAP GUI shows no active scan has been started.

# Result for Linux
Modal aler

[2020-02-26 07:31] sp0tt13 commented on #440
Using OWASP ZAP 2.9.0 against a site which is operating as http (with incomplete https config).  The very first request for a HTTP GET seems to be converted to a 302 response to the browser by ZAP to redirect to the https version of the site... which eventually fails.  So just confirming the above that the HUD is responsible for this as turning this off leaves the browser in http mode (which is wh

[2020-03-12 09:22] psiinon opened #701 "HUD broken with Firefox 74.0"
HUD is not shown on the first page visited (in this case a local bodgeit).
It appears when the next page is viewed, but HUD tools fail - nothing happens when you click on them.
Lots of Vue errors in the console: "SyntaxError: An invalid or illegal string was specified".
Initially reported vi the User Group: https://groups.google.com/d/msg/zaproxy-users/m-qH7lSao6E/KI2Q460kAgAJ
Chrome 80 appears to

[2020-03-12 14:44] psiinon commented on #701
It looks like the referrer value is not being set correctly, which could be due to either https://bugzilla.mozilla.org/show_bug.cgi?id=1601496 or https://bugzilla.mozilla.org/show_bug.cgi?id=1601743 :/

[2020-03-19 17:38] psiinon commented on #701
Update - various of the HUD files use document.referrer:

- drawer.js
- display.js
- panel.js
- management.js

My current plan is to replace these with a constant and to inject the referrer taken from the header via ZAP.
Initial attempt got some of the HUD working (alerts) but not all of it - getting errors that the target origin provided doesnt match the recipient windows origin, so looks like I

[2020-03-20 12:42] psiinon commented on #701
Interesting - I just tried a very simple test in FX 74 and the document.referrer element _is_ correct when linking between pages on one site. It also seems to work on https://whatismyreferer.com/
That implies theres something else going on I dont yet understand...

[2020-03-20 14:28] psiinon commented on #701
I've been reminded that FX 74 introduced Enhanced Tracking Protection, which removed the referrer when tracking cookies are detected. This sounds possible, but I've just tried disabling ETP with the HUD but it still breaks :(

[2020-03-21 19:49] dscrobonia commented on #701
Without having looked to deep into it, the idea is that one of our hacks of passing some info to the HUD from ZAP via the referer header is failing because FF is removing referer info?

[2020-03-22 09:55] psiinon commented on #701
Yep, I think thats it :/

[2020-03-23 02:09] dscrobonia commented on #701
I wonder if we can just pass it through via a GET or POST parameter and carve it out in the ServiceWorker's proxy capability...

[2020-03-30 00:46] tavdog commented on #701
In the meantime, is there a last known version of FF that works ?  Nevermind, I just installed version 73 and the HUD is working.

[2020-03-30 22:21] thc202 commented on #701
The HUD stopped working when this change was introduced: https://bugzilla.mozilla.org/show_bug.cgi?id=1583700
(Nightly 20191023094816, changeset: https://hg.mozilla.org/mozilla-central/pushloghtml?changeset=ad7a152bc66c0d411a6fb0b210d675abed9693c7 )

Setting the preference `browser.tabs.documentchannel` to `false` restores the previous behaviour (i.e. referrer is set) and the HUD works again.

[2020-03-31 13:28] #701 closed

[2020-03-31 16:58] psiinon commented on #701
A new version of the selenium add-on has now been released which fixes this.

[2020-03-31 19:43] dfuentes77 commented on #701
I updated the selenium add-on and confirmed that it worked.

[2020-04-01 13:45] psiinon commented on #701
FYI I've raise this bug on Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1626616

[2020-04-06 11:11] tavdog commented on #701
I still can't get it to work in FF74. I've reverted to 73.01 and the HUD works perfectly if I launch it via ZAP, but launch FF via the system and manually setup proxy and certs, the HUD works mostly but it bugs out and the intercept button stops working and I can't delete items side bars.

[2020-04-06 11:29] psiinon commented on #701
Oh yeah, if you launch Firefox manually then you'll needs to set the `browser.tabs.documentchannel` pref to `false` manually. The fix can only do that if you launch Firefox from ZAP.

[2020-04-06 11:41] tavdog commented on #701
I have browser.tabs.documentchannel set to false. Without it the HUD doesn't AT ALL.  But even WITH that setting set false the hud still acts a little funny. Like the break icon doesn't turn red when clicked even though the request does get intercepted sometimes.  It seemed to be working well for a couple days then it started acting up. hmm.   Is there a way to get the zap launch to use a persiste

[2020-04-23 06:16] He5150 opened #736 "HUD issue on fresh install"
Hey everyone, I installed ZAP today, windows 10, 64 bit, firefox developer edition, no settings changed in zap. In firefox browser.urlbar.filter.javascript=false . network.proxy.allow_hijacking_localhost = True.

On load of the HUD option with a website inputted the HUD is partly shown. The plus symbols on either side and a blank bar on the lower part of the screen. The HUD doesn't respond to any

[2020-04-23 08:27] psiinon commented on #736
Have you performed a 'check for updates' and updated all of the add-on?
The HUD uses browser features that often change when new versions of Firefox or Chrome are released. We do not go back and re-release a full version of ZAP everytime that happens, we just update the relevant ZAP add-ons.
In general its best to ask questions on the [ZAP HUD group](https://groups.google.com/group/zaproxy-hud) an

[2020-04-23 10:01] kingthorin commented on #736
Did you install ZAP's CA cert?

[2020-04-23 19:25] He5150 commented on #736
I apologize for asking here, I wasn't 100% sure where to, I checked for updates on the app and all add ons, everything is up date.
I also installed the CA cert into Firefox. Still encountering the same issue, on load to the browser only those few overlays are present.

[2020-04-23 19:30] kingthorin commented on #736
Oh have you actually navigated somewhere? I think on about:blank or the Firefox 'what's happening page' it won't load properly. Try going to example.com or something.

[2020-04-23 19:36] He5150 commented on #736
Yes sir. On the manual scan I’ve Inputted a target website, also navigated around to see if anything changes on the hud

[2020-04-23 19:46] kingthorin commented on #736
Okay, it was worth a shot. I know I encountered that the first time I gave HUD a whirl.

[2020-04-23 19:47] kingthorin commented on #736
If you launch Firefox from ZAP does it work? There may be another setting we're overlooking that ZAP/Selenium applies when launched from within ZAP.

[2020-04-23 19:58] He5150 commented on #736
Yeah If I launch firefox from zap through the tool bar up top it works. No Hud appears as well but I'm not sure If it's suppose to.

[2020-04-23 20:03] kingthorin commented on #736
Yes if HUD is enabled and you launch a browser from the toolbar it should work. Would you be willing to install "normal" Firefox to see if it's something specific to the devloper version?

[2020-04-23 20:04] He5150 commented on #736
Yes definitely can! I'll report back if anything changes

[2020-04-23 20:11] He5150 commented on #736
Must have been something with the developer version, Hud loaded right up on start of regular firefox. I guess I should have tried that first.

Again apologies for posting this thread here

[2020-04-23 20:16] kingthorin commented on #736
Thanks for letting us know 👍

[2020-04-23 20:26] #736 closed

[2020-04-23 20:26] He5150 commented on #736
Of course! Hopefully it helps

[2020-04-30 20:46] raulsiles commented on #392
Burp 2020.4 added support for TLS 1.3 via Java 13 a few days ago:
https://portswigger.net/burp/releases/professional-community-2020-4
"Provided you have Java 13, Burp Proxy now supports TLS 1.3."

The TLS 1.3 connection testing can be done with the following TLS 1.3-only website:
https://tls13.1d.pw

A connection attempt to this same site, using ZAP 2.9.0 in normal mode (not HUD), after enabling T

[2020-04-30 21:26] thc202 commented on #392
You need to enable in Options > Connection > Security Protocols instead. That just affects the client side.

[2020-05-01 10:07] raulsiles commented on #392
I can confirm ZAP is working fine when accessing a TLS 1.3-only website using Java 13.0.2 (Windows, for the record). I have also tested HUD works fine with this setup. Therefore, this issue might potentially be closed and recommend using ZAP with Java 13 vs. Java 11 for TLS 1.3 connections.

[2020-05-01 11:30] thc202 commented on #392
The recommendation should not be necessary, latest versions of Java 11 (e.g. 11.0.7) work fine with the HUD.

[2020-05-01 11:30] #392 closed

[2020-05-22 09:38] psiinon opened #753 "Fix HTTP Access-Control-Allow-Origin header"
If HTTP sites (is not HTTPS ones) use the Access-Control-Allow-Origin header then the site will typically not work.
ZAP should automatically fix this header.
https://stackoverflow.com/questions/61940616/how-do-i-work-with-http-sites-using-the-hud-in-owasps-zap-proxy

[2020-05-25 10:10] oxdef opened #755 "HUD JS inject breaks site code"
Steps to reproduce:

1. Configure browser to use ZAP Proxy
2. Check HUD is enabled by option "Enable when using ZAP Desktop"
3. Run ZAP Desktop
4. Navigate to https://www.ozon.ru

Actual result:
HUD script is injected into another one (and broke it)
[code]

Expected result:
Correct JS injection without effects on target site

Additional information:
* ZAP 2.9.0

[2020-05-26 08:12] psiinon commented on #755
TBH I expected more problems like this, so thanks for these details :)

[2020-06-26 16:35] MattPlum opened #771 "Informational alert "HUD Tutorial page Alert" not displayed"
I am learning OWASP ZAP and doing the HUD tutorial. But I cannot get past the Page Alerts section because the alert with the key is not coming up. Running Windows 7 Firefox

![image](https://user-images.githubusercontent.com/21339664/85880624-4fd67700-b7aa-11ea-8d3b-c8cba0a25f8f.png)

[2020-06-26 16:50] psiinon commented on #771
Thats strange. What do you see when you click on the Info level Site Alert icon on the right hand side? The site level alerts are a super set. But I dont know why its not being shown at the Page Level :/

[2020-06-26 17:23] MattPlum commented on #771
![image](https://user-images.githubusercontent.com/21339664/85884203-405a2c80-b7b0-11ea-9e39-7d84dfb1d4dd.png)
its a timestamp alert

[2020-06-26 17:56] thc202 commented on #771
Those are the Site alerts not the Page alerts.

You can skip the task by enabling Options > HUD >Skip tutorial tasks.
https://www.zaproxy.org/docs/desktop/addons/hud/options/#skip-tutorial-tasks

[2020-06-26 19:14] MattPlum commented on #771
Yesi know, @psiinon asked to see the site alerts. I ran it on Chrome and it worked fine, so must have been a firefox windows 7 bug . thanks

[2020-06-26 19:14] #771 closed

[2020-06-26 20:27] thc202 commented on #771
Sorry, should have paid more attention. It would be great if you could check if there was any error in the browser when that happened. What Firefox version were you using?

[2020-07-14 10:31] psiinon commented on #454
This looks like the issue that prevents the tests from running consistantly.
I've also found a way to reproduce it more consistantly - this always seems to happen for me is ZAP is under load, eg spidering or active scanning.
That implies its a timing issue thats just more visible when ZAP is doing something else.

[2020-07-14 10:37] psiinon commented on #454
If the HUD gets in this state then it looks like it can be fixed by removing the service worker and refreshing the target page, assuming ZAP is no longer under load.

[2020-07-16 21:46] reeshabhkumarranjan commented on #523
@caesium55ds Thanks, worked flawlessly!

[2020-07-16 21:53] reeshabhkumarranjan commented on #523
@caesium55ds It worked for me the first time, but after that, didn't work.

[2020-08-28 18:45] davewichers opened #802 "HUD Won't Load When ZAP Cert Expired"
Problem:
I was getting security errors in the ZAP built in Firefox when trying to use the HUD, and it wouldn't load.  I finally figured out the problem was that ZAP's built in cert was expired. When I generated a new cert, closed firefox, and relaunched it from with ZAP, the HUD now displays fine.

Suggested fix:
a) Ideally, you'd figure out a way to tell the browser to allow the ZAP HUD requests,

[2020-09-01 07:59] psiinon commented on #802
Yeah, we tell the browser to ignore cert errors, but I guess it doesnt ignore cert expiry.
Warning the user seems like the easiest approach.

[2020-10-14 07:55] psiinon opened #815 "HUD broken with Firefox 81"
Looks like Firefox is not setting the document.referrer again :/
https://bugzilla.mozilla.org/show_bug.cgi?id=1626616

[2020-10-14 10:30] psiinon commented on #815
Have confirmed that its just the missing document.referrer thats causing the problems.

[2020-10-15 12:57] #815 closed

[2020-10-15 17:14] dkuku commented on #771
![2020-10-15-181418_1920x1080_scrot](https://user-images.githubusercontent.com/904179/96163791-3e100f80-0f12-11eb-8bcd-cdaad10c7cd0.png)
I got this problem too

[2020-10-16 21:41] ibril15 commented on #522
Hello,

I know this is an old issue, but I'm still seeing the same thing.  Version 2.9.0, the main application crawler goes to 100% but the stays at 0%.  I don't see anything relevant in the Firefox console.

Thanks.

-Igor

[2020-10-20 08:49] psiinon commented on #522
@ibril15 is it just the spider that does not work or are there any other HUD tools that have problems?
I dont suppose the site that you're testing with is open source or publicly accessible?
I've not seen this problem myself and if we cant reproduce it then we'll struggle to fix it :/

[2020-10-30 10:05] globeone opened #826 "ZAP Weekly HUD not loading on any page injectionHTML.html not found due to invalid path"
**Describe the bug**
On the Weekly version of ZAP the HUD hasn't loaded in the browser for the last 4 or so weeks of versions. The HUD is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Manual Explore
1a. Enter a url "https://example.org"
2. Click on enable HUD
3. Scroll down to Chrome or Firefox
3a. Click on Launch Browser
4. See no HUD

**Expected behavior**
When launching t

[2020-10-30 10:06] psiinon commented on #826
Strictly speaking this looks like a local config issue, but no problem with trying to fix invalid or missing paths.

[2020-10-30 10:53] globeone commented on #826
So, there is no check if the Base Directory is blank in the options.

It would be desirable to have a check if the Base Directory field is filled when the 'enable HUD' option is checked to prevent this issue from occurring in the future.

[2020-10-30 11:11] psiinon commented on #826
Agreed :)

[2020-11-05 09:16] hmolsen opened #834 "308 Permanent Redirect from http to https not working with HUD enabled"
**Describe the bug**
When navigating to an HTTPS website via the preconfigured browser with ZAP HUD enabled zaproxy first issues an HTTP request to the page and follows the redirects to https. When a server redirects to HTTPS via 308 Permanent Redirect, then ZAP fails to follow this redirect, leading to an error displayed in the browser. In firefox this would be:

The page isn’t redirecting proper

[2020-11-05 09:17] psiinon commented on #834
Thats weird - ZAP should not be requesting http://google.de/
Will need to investigate...

[2020-11-05 11:04] hmolsen commented on #834
Thanks, Simon, for the quick reply!
I used the Kali 2020.3 VirtualBox 64bit image from Offensive Security, nothing further installed. Booted the freshly imported machine and started ZAP.

[2020-11-05 11:39] psiinon commented on #834
If you're having problems alwasy do a ZAP check-for-updates and install an new versions of add-ons.
Although in this case I suspect it wont help...

[2020-11-05 12:00] hmolsen commented on #834
Hi, sorry, sure. I did both. ZAP and all plugins are fully up-to-date. Fails in both.

[2020-11-21 21:04] jveldhuijzen commented on #753
I'm willing to pick this up.
My plan was to update the `Access-Control-Allow-Origin` header in `onHttpResponseReceive`  as described in the stackoverflow post.
I'm new to the gradle/java world and do not know how I can best debug this app? Any advice?

[2021-01-07 16:27] Bal2018 opened #861 "ZAP HUD Tutorial : Resend task needs rephrasing"
**Steps to reproduce:**
Following the wording of the task in this module.

1. Select the GET request for this page in the History tab,
2. Change the User-Agent to include ZAP
3.  Click 'Replay in Browser'`

**Actual result:**
The user is taken back to the beginning of the HUD Tutorial.

**Expected result:**
The task should be highlighted as competed and the user should be able to proceed to the ne

[2021-01-07 16:42] kingthorin commented on #861
Thanks, we'll re-test this and see if we can re-create the issue.

Could you let us know what browser and version you were using? Also did you launch the browser from within ZAP or did you manually set the proxy?

[2021-01-07 16:50] computerist commented on #861
I've also seen this; the issue is with the tutorial copy, not the actual code (as @Bal2018 notes in solution 2).

[2021-01-07 17:27] kingthorin commented on #861
I was referring to "The user is taken back to the beginning of the HUD Tutorial."

[2021-01-08 10:48] computerist commented on #861
Hmm, I don't see that either.

@Bal2018 do you mean that you're sent back to the first page of the "resend" task?

[2021-01-10 14:53] mayhem-am opened #865 "ZAP not working with geckodriver version 0.27.0"
If ZAP is not proxying after release 2.10, it is because of the geckodriver version 0.27.0 it comes bundled with. Downgrading to 0.24.0 which is known to be supported is a viable fix for the issue.

[2021-01-10 14:53] #865 closed

[2021-01-11 11:21] thc202 commented on #865
The above comment is not correct, ZAP 2.10 bundles version 0.28.0.

Usage problems/questions are better handled in the [Users Group](https://groups.google.com/group/zaproxy-users).

[2021-01-11 11:22] thc202 commented on #861
Closing this per changes done in #862.

[2021-01-11 11:22] #861 closed

[2021-01-12 15:10] avivmu commented on #490
Any update on these?

[2021-01-12 15:48] kingthorin commented on #490
As far as I know nothing has been tackled aside from the one Replay item.

[2021-02-05 05:32] awgh commented on #440
This turned out to be what was making it impossible for me to use Zap 2.10.0 against OWASP WebGoat/WebWolf running on localhost via HTTP.  Zap would redirect to HTTPS and then the connection would fail.

So... issue still exists in 2.10.0, and you can repro quite easily by running WebGoat on localhost 8080 and trying to connect to it via Zap.  Disabling the HUD solved the issue.

[2021-02-05 20:23] thedarkfl0w opened #884 "HUD Crashes on macOS/Chrome"
**Describe the bug

when chrome is launched from ZAP, HUD functions dont show up on the browser. all is working fine when i use Firefox

**To Reproduce**

**Expected behavior**
Show all HUD buttons and functions

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Software versions**
 - ZAP: [note that we typically only support the latest version of ZAP]
 - OS: macOS Ca

[2021-02-05 21:01] kingthorin commented on #884
Which version of ZAP?
Which version of HUD? (In fact it would be good to now the version of webdrivers, selenium, etc so just providing the full support info from the help menu or CLI would help)

[2021-02-06 14:51] psiinon commented on #884
An update fixed it :) https://twitter.com/darkfl0w_/status/1358020394297532416

[2021-02-06 14:51] #884 closed

[2021-02-24 15:18] zersiax opened #894 "Accessibility of the ZAP HUD"
I'm mostly creating this issue to track work on the accessibility of the HUD. Discussion on this started in zaproxy/zaproxy#4567 as I wasn't aware at the time the HUD has it's own repo. I will reiterate what was said there, and add remediation notes.

- None of the current images for the tools have alt attributes. This isn't terrible given the image will default to filenames which are reasonably d

[2021-03-08 09:36] faisalusuf opened #903 "HUD base directory lost on reboot ZAP v2.10.0 on Kali 2021.1"
**Describe the bug**
HUD throwing exception

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Manually Explore'
2. Click on 'Launch Browser with HUD checked'
3. Browser load with target URL but no HUD'
4. See error

**Expected behavior**
HUD should be loaded after browser launch

**Screenshots**
None

**Software versions**
OWASP ZAP
Version: 2.10.0

Installed Add-ons: [[id=accessControl

[2021-04-29 17:38] adiffpirate commented on #440
Just ran into the same issue. I'm also using 2.10.0. Any workarounds found?

[2021-06-09 13:30] kingthorin commented on #440
neverssl.com works just fine for me with HUD:
![image](https://user-images.githubusercontent.com/7570458/121363809-44218900-c905-11eb-83c5-863c71aa2c2a.png)

HUD's TLS upgrades are only client-side.

If that isn't working for you then you have a config/install issue I believe.

[2021-06-09 13:33] kingthorin commented on #440
@ChrisAD were you using a browser launched from ZAP? Or did you manually configure your browser?

[2021-08-12 21:08] adjenks opened #996 "Broke the HUD tutorial by navigating back and fourth with the green buttons."
**Describe the bug**
Navigating back and fourth in the tutorial seems to have broke it.

**To Reproduce**
Steps to reproduce the behavior:
1. I clicked the previous and next buttons a few times to read some things again, then all the buttons stopped working and I couldn't proceed past the "Alert Notifications" page.
2. Try to click the alert button or the next button, nothing works.
3. Restarting

[2021-08-12 21:09] thc202 commented on #996
Transferred to the HUD repo.

[2021-08-12 21:21] adjenks commented on #996
I do have to say though, this tutorial is really well made... Good stuff.

[2021-08-12 21:40] adjenks commented on #996
Also, the HUD has a large transparent area on this page for some reason. It blocked my ability to copy the comments on the comments part of the tutorial. Normally you can click them or mouseover to view them, but this transparent covering got in the way.
![image](https://user-images.githubusercontent.com/10687569/129273760-0cc7ade6-8232-4fda-bb2b-6e224b1c045a.png)

[2021-08-12 22:01] adjenks commented on #503
I'm also getting errors like this:
[code]

[2021-08-20 07:28] psiinon opened #999 "Remove "X-Frame-Options: DENY" header"
As per CSP, so we could have another option for that.
Reported via https://groups.google.com/g/zaproxy-users/c/4uyVKr1QIng/m/zZu5SU43BQAJ

[2021-08-30 06:47] njmulsqb commented on #753
Hi @psiinon , what's the status on this issue?

[2021-08-30 08:50] thc202 commented on #753
Does not seem to be actively worked on.

[2021-08-30 09:22] njmulsqb commented on #753
I can see that @jveldhuijzen has pushed a commit, have you reviewed that?

[2021-08-30 09:28] thc202 commented on #753
That's not a pull request (in any case that's not finished, e.g. setting other header).

[2021-08-31 07:49] psiinon commented on #753
For info ZAP already optionally strips out CSP.
The relevant code for this:

- https://github.com/zaproxy/zap-hud/blob/a6e0af1cc4e88a574c01ffa75736170bf27990fc/src/main/java/org/zaproxy/zap/extension/hud/HudParam.java#L95
- https://github.com/zaproxy/zap-hud/blob/6b2ab0b494951cf7bbd0f05db79e3c72715cb491/src/main/java/org/zaproxy/zap/extension/hud/OptionsHudPanel.java#L58
- https://github.com/zapro

[2021-11-08 20:24] davewichers opened #1044 "ZAP-Hud doesn't work with WebGoat 8.2.2"
This is related to issue #585 I believe.

When you launch ZAP w/FireFox and HUD you see lots of automatic AJAX requests to:

http://localhost:8080/WebGoat/service/lessoninfo.mvc
http://localhost:8080/WebGoat/service/lessonmenu.mvc.*

So, to make intercepts work properly, you have to exclude these two URLs.  When you do, you still seem them all the time, presumably because HUD forces HTTPS (which s

[2021-11-09 08:59] psiinon commented on #1044
As per https://groups.google.com/g/zaproxy-users/c/QZrQU-KGkWk/m/lThons3LAwAJ (and the later comment) the HUD _has_ to upgrade a site to HTTPS otherwise it cant work. And if the site doesnt handle HTTPS then ZAP handles that on its behalf.

It sounds like ZAP is not upgrading the http AJAX calls. Do you see redirects in the responses?
Is WebGoat not following the redirects?
If you can explain how

[2021-11-09 10:24] thc202 commented on #1044
The problem is that once the session URLs are excluded they will no longer be downgraded.

[2021-11-11 19:16] contaminatedesert opened #1045 "504 Gateway Timeout only when using the HUD"
**Describe the bug**
I am doing some testing on a Bug Bounty site. I have two domains to test; real.example.com and test.example.com. ZAP works perfectly on the test site but when attempting to load the real site I get a stacktrace (below) and a 504 Gateway Timeout Error in the history.

![image](https://user-images.githubusercontent.com/16392834/120505761-22ab2500-c37a-11eb-8e33-1bc0f0c93ddd.png)

[2021-11-12 09:17] psiinon commented on #1045
Does the site in question support HTTPS?
The HUD can only work over HTTPS as is uses modern technologies like WebSockets and Web Workers.
If a site doesnt support HTTPS then ZAP "upgrades" it to HTTPS internally (ie within ZAP).
This works for straightforward cases but it wouldnt surprise me if if failed for more unusual cases.
Unfortunately theres not enough info here for us to know whats going o

[2022-01-15 13:38] LIttleAncientForestKami opened #1062 "Java 17 support issue - ZAP HUD from master doesn't start till Java is lowered to 11"
Hi there folks!

First of all, wanted to thank you soundly. Really, this is impressive, both the idea and the execution. Thank you a lot for your work. <bows low>

Kudos to the entire team. <confetti, fanfares, horns blaring, roaring applause>

Again, I'm really grateful for your work done on this project guys.

The issue I found has a workaround - namely, lower Java to 11. I tried running freshly

[2022-01-15 13:45] kingthorin commented on #1062
Java 17 requires gradle 7.3.

I just started looking into upgrading ZAP builds to Gradle 7.3.3 yesterday 🙂.

[2022-01-18 11:21] kingthorin commented on #1062
@LIttleAncientForestKami ciuld you update your cloned copy and give this a try again?

[2022-01-18 11:55] thc202 commented on #1062
It fails with same error:
[code]

The npm plugin might need to be updated.

[2022-01-18 14:00] LIttleAncientForestKami commented on #1062
@kingthorin that is one fast tempo, oh Oakenshield!

[code]

I ran build scan for details, here you go: https://scans.gradle.com/s/yxpjba3ajjsku/

[2022-01-18 14:25] kingthorin commented on #1062
Thanks!

[2022-01-19 15:25] kingthorin commented on #1062
There "seems" to be something more to this. The dependencyUpdates task doesn't seem to suggest anything that I would think is related, it claims the npm plugin is up-to-date:
[code]

[2022-01-26 18:51] Anthonymcqueen21 opened #1073 "HUD does not allow me to set scope."
Hello ZAP community i have a question about ZAPs HUD interface, overall it works to find when i go through a web page, but the problem is when i am on my VM. I open ZAP and test a site manually as usual and then open the HUD works fine, but the issue is whenever i click to put the page i am looking at in scope. I click on add and then nothing happens it does not work but on the sites' tree i am wi

[2022-01-27 09:47] psiinon commented on #1073
So the HUD works fine against the target when you run it locally but fails to add the target to scope when you using a VM?
Is that ZAP, the target or both on the VM?
Are there any errors in the browser console or in the zap.log file?
https://www.zaproxy.org/faq/somethings-not-working-what-should-i-do/

[2022-03-08 14:16] globeone opened #1089 "HUD not updating percentage for Spider, Ajax Spider and Attack"

[2022-03-10 09:52] psiinon commented on #1089
So are you starting the spider(s) from the desktop GUI and looking at their progress in the HUD?
If so then I'm not too surprised that they are out of sync - if you want to see the progress in the HUD then start the spiders from the HUD.
I agree that it would be good it they were always in sync but tbh that has not been a priority.

[2022-03-29 15:39] Jason3-14Butler commented on #861
I am not able to progress past the Resend stage of the HUD tutorial. I change the User-Agent to ZAP, however the Next: Spider button remains greyed out and disabled.
![ZAP_Resend_Hud - Copy](https://user-images.githubusercontent.com/26047046/160650510-573a488f-c90b-4e91-af43-8301c9469294.JPG)

[2022-04-04 16:54] psiinon commented on #861
@Jason3-14Butler asking for help via an issue that was closed over a year ago is not a good approach :)
You would be better off asking on the ZAP User Group: https://groups.google.com/group/zaproxy-users

[2022-04-11 08:02] globeone opened #1099 ""Remove CSP from target pages" doesn't appear to remove the Content-Security-Policy header"
### Describe the bug

Some sites set a Content-Security-Policy header to
`Content-Security-Policy: default-src 'self'; `

In order to use the HUD the documentation
https://www.zaproxy.org/docs/desktop/addons/hud/options/#remove-csp-from-target-pages

suggests to turn on the Remove CSP from target pages.
Unfortunately this checkbox doesn't seem to change the state of the Content-Security-Policy hea

[2022-04-14 17:41] knassar702 opened #1103 "Building Error"
Hello, I tried to build your JS code using the `npm` command that I found on your [Wiki page](https://github.com/zaproxy/zap-hud/wiki/Developing-with-the-HUD), but I got a small error because of the import `ava` module and the utils.js file

[code]

you should change the import command from `import test from ava` to `const test = require('ava')`

best regards
Khaled

[2022-05-07 08:25] njmulsqb commented on #608
These are the pending no-warning-comments in HUD.

1. // TODO change to try loading from localstorage (src\main\zapHomeFiles\hud\tools\commonAlerts.js)
2. // Todo: change this to 'continue' and figure out / fix stopBreaking (src\main\zapHomeFiles\hud\tools\break.js)
3. // FIXME: remove after #620 (src\main\zapHomeFiles\hud\display.js)
4. 	// Todo: is this too hacky? (src\main\zapHomeFiles\hud\targ

[2022-05-09 11:33] psiinon opened #1110 "Update to use latest Vue.js"
See https://github.com/zaproxy/zap-hud/pull/1109

The Vuejs libs names have changed.
According to https://vuejs.org/guide/quick-start.html#without-build-tools it looks like the *.esm-browser.js files might be the ones to use but I tried changing the build and html/js files to use them and it still didnt work.
Someone with more JS knowledge than me might be able to solve this much more quickly ;)

[2022-06-29 12:20] kingthorin commented on #834
@dvarrazzo Can you confirm that it behaves as expected with HUD disabled?

[2022-06-29 12:29] dvarrazzo commented on #834
I am new of the tool and not aware of what HUD is.

What I have done is:

1: run zap in docker using:
[code]
2: configued a Firefox session to use localhost:8090 as HTTP/HTTPS proxy, imported the certificate
3: open an url `https://...`
4. experience that the requests performed go instead to http with a 308 redirect to https, in a loop

in point 3, both opening an http and https url results in a l

[2022-06-29 12:44] dvarrazzo commented on #834
Heads up: upgrading the plug-ins seems to work.

[2022-06-29 12:47] psiinon commented on #834
Well, that _is_ the first recommendation on the first FAQ ;) https://www.zaproxy.org/faq/somethings-not-working-what-should-i-do/

[2022-06-29 12:47] kingthorin commented on #834
Thanks for letting us know.

[2022-06-29 12:57] dvarrazzo commented on #834
You are right. I apologise for the noise. However this issue has been open for almost 2 years: it might be advisable that whatever needs update is updated out of the box.

[2022-08-11 17:42] loritempleton opened #1135 "HUD not working with FireFox recently"
We use Zap on a regular basis with FF, A few weeks ago I ran my scans fine.  But today, I can't get the "Heads Up Display" to work on Firefox.  It works on Chrome.  My whole QA team reported the same experience.  Upon further investigation seems Zap is throwing an error in the console for Firefox ( see image):

![8-11-22ZapError](https://user-images.githubusercontent.com/72763700/184198647-7f0b5b7

[2022-08-11 18:37] thc202 commented on #1135
Yes, something changed and the HUD no longer works with Firefox, the cause is being investigated.

[2022-08-12 07:04] psiinon commented on #1135
Just to make this clear - something changed in Firefox :/
Chrome still works as a workaround, but being a Mozillian I'm keen to get it working on Firefox again...

[2022-08-12 10:39] psiinon commented on #1135
@loritempleton can you try changing your Firefox settings - under Privacy and Security, scroll down to Cookies and Site Data, click on "Manage Exceptions...", type `https://zap/` in the Address of Website section and click `Allow` then `Save Changes`.
Then reload the page with the HUD on. That worked for me.
Unfortunately that has to be done every time you launch Firefox from ZAP right now - I'll

[2022-08-12 11:04] psiinon commented on #1135
Asked for help on the Mozilla Discourse: https://discourse.mozilla.org/t/failed-to-register-update-a-serviceworker/102538

[2022-08-15 11:04] psiinon commented on #1135
See this thread on twitter: https://twitter.com/psiinon/status/1558070292433567750
This is proving painful ☹️

[2022-09-26 17:14] Anthonymcqueen21 commented on #1135
I use FoxyProxy when i work with Zap it connects i did the steps you mentioned but for some reason my HUD is not showing and its not catching any possible alerts. I dont understand why is the new update just not working with FireFox ?

[2022-09-26 17:18] kingthorin commented on #1135
1. If you aren't launching the browser from ZAP them you could be missing settings for HUD.
2. If you haven't browsed to a site it won't show (it doesn't display on about:blank).

[2022-09-27 07:25] psiinon commented on #1135
@Anthonymcqueen21 what version of Firefox are you using?
Are there any errors in the zap.log file?
https://www.zaproxy.org/faq/somethings-not-working-what-should-i-do/#check-the-log-file

[2022-10-01 14:08] njmulsqb commented on #1110
Can you please explain this a bit more? Maybe including the news from VueJS about the changes and how migration needs to be carried out?

[2022-10-03 11:38] psiinon commented on #1110
Some answers 😄

1. I cant honestly remember, other than whats written above, ie all the js libs being renamed and not really knowing which ones to use
2. Latest would be ideal
3. Yes
4. I'd start here: https://github.com/zaproxy/zap-hud/blob/main/package.json#L100-L101
5. I cant honestly remember, but I'm pretty sure it was unusable

You dont have to use `runZap` if you have zap installed locally.

[2022-10-03 13:25] njmulsqb commented on #1110
Ok. To check my changes in the HUD code base, each time I need to run `copyZapAddOn` and run ZAP and then browser with HUD enabled? No other easy way? :P

[2022-10-03 13:30] psiinon commented on #1110
It depends on what changes you make. If they are just client side then `copyHudClientFiles` may work ok - you shouldnt have to relaunch ZAP, just launch a new browser. But if you make any java changes you will need to copy the add-on

[2022-10-06 23:49] Anthonymcqueen21 commented on #1135
I am using the default settings for that and the latest version of firefox

[2022-10-12 15:15] #1135 closed

[2022-10-12 15:19] psiinon commented on #1135
Thanks for letting us know!